[2020-07-21 10:57] gautamkrishnar opened #1 "cdn"

[2020-07-21 10:57] #1 closed, assigned to nobody

[2020-07-22 15:47] gautamkrishnar commented on #1
<img width="1440" alt="dhdh" src="https://user-images.githubusercontent.com/8397274/88197889-b727ff80-cc60-11ea-8e4a-b1fbd8dd9d06.png">

[2020-07-25 13:21] xfyuan opened #5 "Does it support github page blog now?"
I use github page as blog, which has its feed url like: https://xxxx.github.io/feed

Has it been supported now?

[2020-07-26 02:13] xfyuan commented on #5
I've tried it and it just works.

[2020-07-26 02:13] #5 closed

[2020-08-01 01:12] cowbe0x004 opened #7 "Feed sort"
I'd like to make a feature request, sorry if this is the wrong place.

I'm using the workflow to pull youtube playlists feeds, and the feed is being sorted by the video date. It'd be great if we can choose to sort by when the video was added to the playlist, or sort randomly. Thank you.

[2020-08-01 06:34] UtkarshVerma opened #8 "Add option to specify commit message"
It would be neat to let users specify a custom commit message since everyone has their own way of writing commit messages.

[2020-08-01 16:29] linlih opened #9 "SSL verify error"
Can I close the SSL verify

[2020-08-02 09:30] gautamkrishnar commented on #9
Hi, @linlih thanks for reporting this. this need not have to be fixed. It should be done on your server, Please add an FQDN (Fully qualified domain name) to your server https://49.232.199.67/ or use `http://49.232.199.67/feed/` to avoid this error.

[2020-08-02 09:30] #9 closed

[2020-08-02 09:44] gautamkrishnar commented on #9
@linlih you can also do something like this to fix it:

[code]

[2020-08-02 10:01] gautamkrishnar commented on #7
@cowbe0x004 sorry it will not be possible since those data is not available in the XML URL: https://www.youtube.com/feeds/videos.xml?playlist_id=PLJNqgDLpd5E69Kc664st4j7727sbzyx0X also the feed-parser don't support it.

[2020-08-02 10:06] gautamkrishnar commented on #8
@UtkarshVerma thanks for reporting this. WIll work on it.

[2020-08-02 10:55] #8 closed

[2020-08-02 10:57] UtkarshVerma commented on #8
Thanks for the quick implementation. Much appreciated.

[2020-08-02 11:00] gautamkrishnar commented on #8
@UtkarshVerma please test this on the latest version and let me know if you experience any problems: https://github.com/gautamkrishnar/blog-post-workflow#options

[2020-08-02 18:13] cowbe0x004 commented on #7
Thank you. I'm not very good at reading js, but I see there's this code,

[code]
If we omit that, would the order appear as they are in the feed?

[2020-08-02 19:30] Abhiswain97 opened #10 "problem with custom domain github.io page"
When I add the feed of my website, the links generated are:
`https://github.com/Abhiswain97/Abhiswain97/blob/master/abhishekswain.me/machine%20learning/maths/2020/07/28/Logistic_regression-Copy1.html`

whereas it should just be `abhishekswain.me/machine%20learning/maths/2020/07/28/Logistic_regression-Copy1.html`

It adds extra `https://github.com/Abhiswain97/Abhiswain97/blob/master/` to URL. Why?

[2020-08-02 19:42] Abhiswain97 commented on #10
Solved it, had given the wrong feed URL, my bad. It works perfectly now.

[2020-08-02 19:42] #10 closed

[2020-08-02 20:42] gautamkrishnar commented on #7
@cowbe0x004 that is doable, will reopen and implement. We can disable sorting entirely with a flag,

[2020-08-02 20:57] gautamkrishnar commented on #7
@cowbe0x004 just released this: https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.0.6, please set `disable_sort` to `true`

[2020-08-02 20:57] #7 closed

[2020-08-02 21:27] cowbe0x004 commented on #7
That works, thank you for the quick turn around!

[2020-08-02 22:49] TGTGamer opened #11 "TypeError [ERR_INVALID_PROTOCOL]: Protocol "https:" not supported."
[code]

[log](https://github.com/TGTGamer/TGTGamer/runs/938432050?check_suite_focus=true#step:3:13)

[2020-08-03 07:25] gautamkrishnar commented on #11
Looks like the URL is wrong: https://stackoverflow.com/feeds/user/358909, its not returning the feed

[2020-08-03 07:31] gautamkrishnar commented on #11
also, @TGTGamer don't put space between the URLs: https://github.com/TGTGamer/TGTGamer/blob/master/.github/workflows/blog.yml#L17

[2020-08-03 07:32] #11 closed

[2020-08-03 07:45] gautamkrishnar commented on #11
I had also added some code to prevent this in the future, so the latest version will automatically even if you don't do any changes on your end.

[2020-08-05 07:55] thecoffeehog opened #12 "[New Source]: Podcasts / Multiple Platforms"
Source Name: Anchor
Source URL: https://anchor.fm/laii
Comments:

Podcasts are available on multiple platforms such as Google Podcasts/Spotify/Apple Podcasts etc. and Anchor distributes them to multiple platforms and also provides a link to all of them on the podcast's Anchor page.

We could fetch the links from any of the popular podcasting platforms or maybe from Anchor.fm itself, whatever is qu

[2020-08-05 16:27] gautamkrishnar commented on #12
@thecoffeehog are you interested in opening a PR to add this

[2020-08-05 16:45] #12 closed

[2020-08-05 16:45] gautamkrishnar commented on #12
@thecoffeehog thanks a lot for sharing.

[2020-08-05 19:58] polilluminato opened #13 "[Bug]: Hashnode RSS Feed doesn't appear on GitHub Profile"
I tried to use this workflow, in particular the standard `blog-post-workflow.yml`, to add to my GitHub profile my RSS feed on [Hashnode](https://hashnode.com/).

**Steps to reproduce the behavior**

1. Use the standard `blog-post-workflow.yml` as described in the `readme` file
2. Add to the `feed_list` option my RSS feed on Hasnode: [https://polilluminato.hashnode.dev/rss.xml](https://polilluminat

[2020-08-06 06:39] gautamkrishnar commented on #13
@polilluminato its because you used the following as the comment on readme:
[code]
The comment should be the following since you had given `comment_tag_name: "HASHNODE"` as parameter:
[code]

[2020-08-06 06:39] #13 closed

[2020-08-06 07:26] gautamkrishnar commented on #13
Also released a fix for this in the latest version. Now the workflow will fail if you had specified the wrong comment on your readme: https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.0.8

[2020-08-08 19:01] allinu opened #15 "[Feature]: Hi，add bilibili videos list is useful"
**Is your feature request related to a problem? Please describe.**
yes, i don't know how to add bilibili website videos in this workflow

**Describe the solution you'd like**
i need add bilibili web suppert in this workflow

**Describe alternatives you've considered**
none

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-08-08 21:27] gepser opened #16 "[Feature]: Ignore StackOverflow comments"
**Is your feature request related to a problem? Please describe.**
When you have an answer or a question it's usually the case where you have many comments too, so you only want to show the question or the answer.

**Describe the solution you'd like**
StackOverflow comments should not appear at all.

**Describe alternatives you've considered**
Maybe a filter for show/display them.

**Additional co

[2020-08-09 12:19] gautamkrishnar commented on #15
@allinu Sorry, I don't think that this is possible since billbill doesn't support provide user-generated content as XML format. I tried googling but couldn't find anything other than this: https://ir.bilibili.com/rss-feeds, which is not related to anything you require.

I am also not good with Chinese language. If you find anything related to this and think that there's an XML source, please feel

[2020-08-09 12:20] #15 closed

[2020-08-09 13:19] #16 closed

[2020-08-09 14:16] gautamkrishnar commented on #16
This is released now: https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.1.5

[2020-08-10 06:35] gepser commented on #16
Thanks @gautamkrishnar !

Two improvements if I'm allowed to suggest:

1) Add the `stackexchange` domain as one of the supported sites for the filtered comments.

2) Remove the validation of the author `&& item.title.startsWith('Comment by ' + item.author));` so any StackOverflow in any language works.

You can see this suggestions would fix the last two sections here https://github.com/gepser/gep

[2020-08-10 07:00] gautamkrishnar commented on #16
@gepser

This one is doable

sorry, I don't think that this would be possible. How can we differentiate between comments and normal posts then, If you remove it the filter would be:
[code]

This will always return true. So no filtering would happen.

[2020-08-10 12:01] DataStrategist opened #17 "[Bug]: Hugo links seem to not work?"
**Describe the bug**
I'm trying to use this workflow on https://www.amitkohli.com/ this blog, which runs Hugo and is deployed through Netlify.

The RSS feed for this is: https://www.amitkohli.com/index.xml

**To Reproduce**
Steps to reproduce the behavior:
 - Change your feed to https://www.amitkohli.com/index.xml and you will see this error talking about a parse failure.

![image](https://user-im

[2020-08-10 15:46] gepser commented on #16
You are right, I didn't see that.

Maybe a solution can be sending the `Comment by ` as an optional parameter so people can use it in any StackOverflow language (Japanese, Russian, Portuguese, Spanish) or more general the filter string as a parameter so you can filter questions and comments but show only answer for example.

Any thoughts on that?

[2020-08-10 15:57] QAInsights opened #18 "[Bug]: Blog Workflow is not showing up in Actions, if it does, there is no Run workflow option"
**Describe the bug**
Blog workflow is not showing up under the Actions. Sometimes it does showing up (after deleting it and adding), but there is no Run workflow option. But YouTube workflow is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a blog post workflow as mentioned in the instructions
2. Go to Actions
3. No workflow is getting displayed.

**Expected behavior**

[2020-08-10 16:14] QAInsights commented on #18
I see it now. Closing this bug.

[2020-08-10 16:14] #18 closed

[2020-08-10 16:56] gautamkrishnar commented on #17
Hi @DataStrategist Looks like its the problem with the XML data you are giving, the title tag is empty for your posts:
<img width="1094" alt="Screenshot 2020-08-10 at 10 25 15 PM" src="https://user-images.githubusercontent.com/8397274/89808885-6ec17a80-db58-11ea-881d-c248e75cd1c1.png">

Please check your hugo cms configuration since this is not the correct format of the XML feeds.

[2020-08-10 18:15] #17 closed

[2020-08-10 18:22] gautamkrishnar commented on #16
@gepser you can now use the following format to customize your filter to use spanish for stackoverflow and stackexchange:
[code]

[2020-08-10 18:51] gepser commented on #16
Incredible! Thank you very much!

I also added the filter on the stackexchange site as you can see [here](https://github.com/gepser/gepser/blob/master/.github/workflows/es-devops-workflow.yml).

Here is the result:

Before:

![image](https://user-images.githubusercontent.com/4780753/89819001-562d7200-db10-11ea-9fe4-f30067775b9a.png)

After (only answers and questions):

![image](https://user-image

[2020-08-11 06:13] FabianGosebrink opened #19 "[Bug]: Response 406 when asking for rss stream"
**Describe the bug**
When I use the provided configuration and the cronjob runs I get a `406 Not Acceptable` response in the github action as an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement Github Action as described
2. Let the job run with `feed_list: "https://offeringsolutions.azurewebsites.net/index.xml"` or `"https://offering.solutions/index.xml"`
3. See the 406 Error

[2020-08-11 14:28] gautamkrishnar commented on #19
@FabianGosebrink try using the workflow with the newly added `user_agent` option. Set it to a google bot's user agent string and try again.

[2020-08-11 15:19] FabianGosebrink commented on #19
Hey thanks for your quick reply and the provided help!

Unfortunately I had no no success setting the user_agent 😢

Tried it with

`user_agent: "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"`
and
`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)`

[2020-08-11 15:26] gautamkrishnar commented on #19
@FabianGosebrink this should be fixed on the server-side then, please check your website's code.

[2020-08-11 15:37] FabianGosebrink commented on #19
As the error describes a `406 Error – Not Acceptable`: What content-type is the action expecting? The server returns `text/xml` which is obviously not what the github action sends as accept header. What `accept-header` is the action sending? Maybe making it configurable solves the issue? I dont know but maybe it is worth a try?

[2020-08-11 15:43] gautamkrishnar commented on #19
The header is  'Accept': 'application/rss+xml'. Let me try adding an option to customize it.

[2020-08-11 15:43] FabianGosebrink commented on #19
Doing a PR currently :) Want to have a look?

[2020-08-11 15:48] FabianGosebrink commented on #19
Maybe this is worth a try...

[2020-08-11 15:58] FabianGosebrink commented on #19
Worked locally when setting both properties:

[code]

[2020-08-11 15:58] #19 closed

[2020-08-11 16:22] gautamkrishnar commented on #19
@FabianGosebrink its now released can you please try using `accept_header`:`text/xml`

[2020-08-11 16:26] FabianGosebrink commented on #19
Works perfectly now! https://github.com/FabianGosebrink/FabianGosebrink

Thank you very much!

[2020-08-13 15:19] nasreekar opened #21 "[Feature]: Ability to show github gists in Profile Readme"
Just wanted to check if there is a way to write a cron job to show all the `your gists` section in the profile readme?

[2020-08-14 07:11] gautamkrishnar commented on #21
As of now, GitHub gists don't have rss format API that we can hook into to get the posts. Implementing this via github API is beyond the scope of this project.

[2020-08-14 07:11] #21 closed

[2020-08-14 07:26] gautamkrishnar commented on #21
Btw this looks like a good idea, I will work on this during my free time as a separate project, Will let you know when the MVP is ready 😄

[2020-08-14 07:59] nasreekar commented on #21
@gautamkrishnar  I understand. Thanks for sharing your views.
And looking forward to it :)

[2020-08-21 18:04] guibranco opened #22 "[Feature]: Add option to add date to template"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I'd like to use `$date` in the `template` option, to add the post date on the list.

**Describe alternatives you've considered**
No one.

**Additional context**
Currently using WordPress source.

[2020-08-22 18:02] AvinashMahanthi opened #23 "[Bug]: The feature blog post work flow is not working for me"
**Describe the bug**
A clear and concise description of what the bug is, I had followed the instructions as mentioned by you, but still I am not getting by recent blogs on my readme file.
here is the link to my [repository](https://github.com/AvinashMahanthi/AvinashMahanthi)

[2020-08-23 12:17] #23 closed, assigned to nobody

[2020-08-23 12:56] #22 closed, assigned to gautamkrishnar

[2020-08-23 18:40] AvinashMahanthi commented on #23
I had updated all the changes you told me. But still, the workflow is not working. @gautamkrishnar

[2020-08-23 18:45] gautamkrishnar commented on #23
@AvinashMahanthi you also messed up the indentation of jobs key: https://github.com/AvinashMahanthi/AvinashMahanthi/actions/runs/220962593, Please fix it, try copy-pasting the below content:
[code]

[2020-08-23 18:48] gautamkrishnar commented on #23
Working fine for me: https://github.com/gkr-bot/gkr-bot/runs/1018901935?check_suite_focus=true

[2020-08-23 18:54] AvinashMahanthi commented on #23
Could u plz check that now, and kindly say where I had mistaken! and how can you check errors for a particular commit like this https://github.com/AvinashMahanthi/AvinashMahanthi/actions/runs/220962593
could you plz say how to check that also @gautamkrishnar

[2020-08-23 18:56] gautamkrishnar commented on #23
@AvinashMahanthi just click on the actions tab in your repo or go to https://github.com/AvinashMahanthi/AvinashMahanthi/actions you can see a list of previous runs.

[2020-08-23 19:00] gautamkrishnar commented on #23
@AvinashMahanthi also added a comment on your https://github.com/AvinashMahanthi/AvinashMahanthi/commit/afce774fe117a685b7a2e0cbb7171a0d553299e8 commit for your understanding. The latest code should work or you can use `workflow_dispatch` event if you need to trigger it right now,.

[2020-08-23 19:08] AvinashMahanthi commented on #23
could you please say how can we trigger work flow dispatch, I had checked
that on internet but It is explained in the previous version of github, so
please kindly help!

On Mon, 24 Aug 2020, 00:30 Gautam krishna R, <notifications@github.com>
wrote:

[2020-08-23 19:25] gautamkrishnar commented on #23
@AvinashMahanthi Just copy-paste the following contents:
[code]
Commit the change.
Watch this video to know how you can trigger it manually: https://youtu.be/ECuqb5Tv9qI?t=649

[2020-08-24 06:53] gautamkrishnar commented on #23
@AvinashMahanthi you are using wrong url in your repo for the `feed_list`

[2020-08-24 07:23] AvinashMahanthi commented on #23
Thank you for your help @gautamkrishnar My readme is now updated, thank you very much!

[2020-08-27 12:51] linlih commented on #9
Thanks for reply. It's server's problem.

[2020-09-07 15:13] ritiksoni00 opened #25 "error"
![Screenshot from 2020-09-07 20-40-30](https://user-images.githubusercontent.com/47344024/92401120-a9fc9c80-f14a-11ea-9bdd-3ab150a2fc83.png)
 what s the problem??

[2020-09-07 15:16] gautamkrishnar commented on #25
@ritiksoni00 looks like you are using wrong url, please use `https://medium.com/feed/@rtksoni00` for the `feed_url`

[2020-09-07 15:16] #25 closed

[2020-09-17 10:13] McPringle opened #27 "[Feature]: Add option to filter by language"
**Is your feature request related to a problem? Please describe.**
My blog supports multiple languages. All blog articles are available in two languages (en+de). This workflow shows all languages in my readme. I would like to filter by language, so only English articles are shown in my readme file.

**Describe the solution you'd like**
A new option "language: en" would be great. As you can see in

[2020-09-17 10:49] gautamkrishnar commented on #27
@McPringle according to the RSS specs the post language should be in `<language></language>` optional channel: https://validator.w3.org/feed/docs/rss2.html, https://www.w3schools.com/xml/rss_tag_language.asp. Filtering via this can be implemented since this is a standard. You might need to update your feed generator code to match this standard.

[2020-09-17 11:14] gautamkrishnar commented on #27
@McPringle just gone through the RSS specification. As of now language can be set only on the channel level, there is no spec to set language for the individual **items** (posts) in a single **channel**. So filtering can't be implemented. If your site have multiple language feeds, i recommend you to use different RSS endpoints for different languages. Really sorry for the inconvenience.

[2020-09-17 11:14] #27 closed

[2020-09-20 17:06] constantinDev opened #28 "[SUGGESTION] A $videoid variable for the template property"
This could be used to, for example, display the thumbnail of the video directly on the readme.md file, or can be used to get additional data about that video from youtube itself. Just a little thought I had while customizing my readme.md file with this.

[2020-09-20 17:36] gautamkrishnar commented on #28
@constantinDev including `videoId` as a parameter will be beyond the scope of this project. This project focuses on feed list gneration, i am not planning to include platform specific options other than built in filters.

But i think adding a `custom_tags` argument that allows you to get the tags you are looking for on your template will be a good option.

Eg this is a youtube feed item:
[code]
Yo

[2020-09-20 17:38] gautamkrishnar commented on #28
I will work on this when i have time. Lets keep this issue open so that someone else can pick it up if they are interested.

[2020-09-21 09:57] #28 closed

[2020-09-21 10:15] gautamkrishnar commented on #28
Just completed this feature now you will be able to use the custom tags as follows:
Lets say you have the following feed entry:
[code]

To get `media:thumbnail` and `yt:videoId` in the template use the following code to get both as `videoId` and `thumbnail` respectively:
[code]

[2020-09-22 09:55] utkarsh2102 opened #29 "Shower some emoji-love!?"
Hi @gautamkrishnar,

Thanks for your work on this!

https://github.com/gautamkrishnar/blog-post-workflow/blob/36be303a1714a740ad6c34dc3bce58a926d4eb2b/blog-post-workflow.js#L253-L259

As I see it, the "Latest Blog Posts" section could you some emoji-love.
What I mean is, maybe we could use some emoji (at random from a pre-defined set) before the blog post. For example:
1. 💯  `[$title]($url)`
2. 🔥

[2020-09-22 11:25] gautamkrishnar commented on #29
Setting a single emoji will be possible via the `template` argument itself. We can introduce a new template variable as `$randomEmoji` for randomizing the emojis. We should use a static array of emojis so that there wont be unwanted commits generated to the people who is running the workflow every hour due to randomizatiion.

[2020-09-22 11:39] utkarsh2102 commented on #29
Aye, you're right!
It's best if we use [💯, 🔥, 💫, 🚀, 🌮] in that order to avoid a ton of unnecessary commits!

Thanks, again, for your work on this! ❤️

[2020-09-27 11:26] gautamkrishnar commented on #29
Got some more ideas for this, we don't have to hard code emojis:

- `$randomEmoji` key can be parametrized, users can use `$randomEmoji(💯, 🔥, 💫, 🚀, 🌮)` in their template if they want to randomly generate posts based on the emojis they had given.
- `$emojiKey` key can be used to show emojis in the order he/she has specified. `$emojiKey(💯, 🔥, 💫) title` will give them posts like:
         - 💯 title1

[2020-09-27 13:34] #29 closed

[2020-09-27 13:59] gautamkrishnar commented on #29
@utkarsh2102 this is released on version  [1.2.8](https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.2.8), you can now use it. Thanks a lot for the suggestion.

[2020-10-02 13:22] DenverCoder1 commented on #28
Thanks @gautamkrishnar! I was about to open an issue, but I'm glad I checked here because this is exactly what I was looking for.

[2020-10-04 08:59] gautamkrishnar opened #31 "Add more popular sources"
See the list of sources documented at https://github.com/gautamkrishnar/blog-post-workflow#popular-sources

Add more RSS Feed sources to the list.

[2020-10-04 13:32] jpacsai commented on #31
Hi, I have a good one to add if that's okay :)

[2020-10-04 14:55] hexxdump commented on #31
can I work on this ?

[2020-10-04 15:30] gautamkrishnar commented on #31
yes @hexxdump

[2020-10-05 08:59] hexxdump commented on #31
will it be possible to add 'hacktoberfest' topic to your repository?

[2020-10-05 09:36] gautamkrishnar commented on #31
@hexxdump done

[2020-10-05 13:14] Red-0111 commented on #31
@gautamkrishnar Please will try my best

[2020-10-05 13:23] gautamkrishnar commented on #31
@Red-0111 you can start adding one. No need to assign it since this ticket is for multiple people to implement.

[2020-10-05 23:38] Curious-Yu commented on #31
I would like to add a new source

[2020-10-06 06:57] gautamkrishnar commented on #31
Thanks, @Curious-Yu just left a comment on your PR.

[2020-10-10 00:00] mdsanima commented on #31
Hi, @gautamkrishnar this shuld be work on `.rst` file instead of `.md`? Please let me know! Thank you. Anyway, great tools. Keep coding!

[2020-10-10 07:10] gautamkrishnar commented on #31
@mdsanima why do you think we need a rst file?

[2020-10-10 13:24] nil0x42 opened #34 "[Feature]: Remove newlines from RSS post titles"
**Is your feature request related to a problem? Please describe.**
I use a twitter RSS feed as input, and sometimes titles containg newlines, leading to improper markdown formatting.

**Describe the solution you'd like**
Replace occurences of `\r\n` & `\n` in the title by simple space

**Describe alternatives you've considered**
n/a

**Additional context**
Here's how titles get formatted:
![Screen

[2020-10-10 13:27] nil0x42 opened #35 "[Feature]: Add an option to set title max-length"
**Is your feature request related to a problem? Please describe.**
Some RSS sources (such as twitter) may include too long post titles.

**Describe the solution you'd like**
Adding an option to set a max-length to post titles would be a cool feature

**Describe alternatives you've considered**
When title has to be truncated, a triple-dot can be added to the end of string to make clear the title ha

[2020-10-10 16:24] #35 closed

[2020-10-10 16:37] gautamkrishnar commented on #35
This is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.3.0

[2020-10-10 17:19] gautamkrishnar commented on #34
Working on this.

[2020-10-10 17:23] #34 closed

[2020-10-10 17:39] gautamkrishnar commented on #34
Released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.3.1

[2020-10-10 19:28] nil0x42 commented on #34
Wow ! I'm simply shocked by your reactivity !

[2020-10-10 20:15] nil0x42 commented on #34
Just for the record. There is a problem with `\n` & `\r` literals in `item_exec`, so they must be escaped.

As an example, for my case, the correct `item_exec` is:
[code]

[2020-10-10 20:25] gautamkrishnar commented on #34
Thanks for pointing it out @nil0x42

[2020-10-11 12:13] nil0x42 commented on #34
@gautamkrishnar , is it possible to use this new feature to ignore an entry?
Let's say I want to have 5 first entries that do not contain a specific string in title, is it possible with item_exec to just ignore entry?

[2020-10-11 12:31] gautamkrishnar commented on #34
@nil0x42 thanks for the suggestion, just released this feature. You can ignore any item by setting it to **null** via javascript using the `item_exec` param.

Eg:
[code]
You may need to add proper escaping for some special characters.

[2020-10-11 15:15] nil0x42 commented on #34
Hi ! Thank you again for the speed at which you adress issues !
I tried and it doesn't work because `post` is const, so i get ` TypeError: Assignment to constant variable.` error.

Also, as item_exec migh alter title's length, it might be useful to put TITLE_MAX_LENGTH trimming block code after item_exec, so if item_exec changes the title-'s length, the trimming happens after.

[2020-10-11 15:18] gautamkrishnar commented on #34
@nil0x42 oopsie, I will fix that, will update the code to use let instead. 👍  Happy to help.

[2020-10-11 15:32] gautamkrishnar commented on #34
@nil0x42 thanks for your suggestions, it's now released: https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.3.4

[2020-10-18 05:06] davidsneighbour opened #36 "[Bug]: Push to repo after update von README.md fails (remote updates, pull first)"
1. Creating the action workflow
2. Run the action
3. pull and load the changes locally
4. change the README.md locally
5. commit and push to repo on Github
6. Run the action

Result:

[code]

The action should pull first from the repo before it updates the README.md.

[2020-10-18 06:05] davidsneighbour commented on #36
It appears this happens only if the Action is manually re-run. The next automatic scheduled action did work (this time).

[2020-10-18 08:47] #36 closed

[2020-10-18 08:53] gautamkrishnar commented on #36
@davidsneighbour thanks a lot for reporting. This has been fixed on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.3.6

[2020-10-26 10:32] Vyvy-vi commented on #31
Hey um I had a query...
Can this take data from gists too?

[2020-10-26 10:35] gautamkrishnar commented on #31
Only if it supports RSS format Vyvy-vi

[2020-10-26 10:52] Vyvy-vi commented on #31
sadly gists don't :/
Though love the action ❤️

[2020-10-26 10:53] gautamkrishnar commented on #31
Thanks @Vyvy-vi 😃

[2020-10-26 22:49] Edstub207 opened #37 "[Bug]: Not detecting posts"
For some reason this workflow isn't working for me and I'm not sure why...

Logs and RSS Feed:
![image](https://user-images.githubusercontent.com/13305475/97236613-5a972c00-17dd-11eb-909c-b5c8afe1ff0e.png)

README.MD
![image](https://user-images.githubusercontent.com/13305475/97236658-76023700-17dd-11eb-9b59-0cc2e11c14ac.png)

[2020-10-27 05:02] b4oshany opened #38 "[Bug]: TypeError: Cannot read property 'includes' of undefined"
**Describe the bug**
TypeError: Cannot read property 'includes' of undefined

**To Reproduce**
See: https://github.com/b4oshany/b4oshany/runs/1312805866?check_suite_focus=true

**Expected behavior**
List of upcoming events from Meetup.com

**Screenshots**
![image](https://user-images.githubusercontent.com/1830494/97258906-84ede700-17e7-11eb-915b-90a64c8d389f.png)

[2020-10-27 13:29] gautamkrishnar commented on #37
@Edstub207 looks like your content is encoded, you need to have a plain text version of the feed to show it via the blog post workflow.

Example:
https://github.com/gautamkrishnar/blog-post-workflow/blob/e672f4debedb5f70e5742834d99e1425e58fbf89/test/sample.xml#L9-L33

In your case the title and description is in cdata, not as plain text. Please follow the correct RSS spec to make it work.

[2020-10-27 13:33] gautamkrishnar commented on #37
Oops its using medium, let me check why it's not working. It was working earlier as #2

[2020-10-27 14:17] gautamkrishnar commented on #37
@Edstub207 it is due to the medium filter. Please use to fix it:

[code]

[2020-10-27 14:27] gautamkrishnar commented on #37
As of now, since there is no way to filter out the medium comments other than checking it for **undefined** category closing this for now. Will add a warning in the doc.

[2020-10-27 14:27] #37 closed

[2020-10-27 14:36] gautamkrishnar commented on #38
I am a little busy RN, will have a look into this when I have time.

[2020-10-27 19:23] gautamkrishnar commented on #38
@b4oshany It's because your post <item> doesn't have a <link></link> in it. Please follow the correct RSS syntax:  https://validator.w3.org/feed/docs/rss2.html

Make necessary code changes for generating the RSS feed with the post's url.

Your blog RSS:
[code]

Sample correct RSS format:
https://github.com/gautamkrishnar/blog-post-workflow/blob/e672f4debedb5f70e5742834d99e1425e58fbf89/test/sample.

[2020-10-27 19:23] #38 closed

[2020-10-27 19:34] gautamkrishnar commented on #38
@b4oshany thanks a lot for reporting this, the error message should be descriptive. Just made that change.

[2020-10-28 00:05] Edstub207 commented on #37
That fixed it, thank you!

[2020-11-01 07:34] gautamkrishnar opened #39 "[Bug]: Wrong error message"
<img width="722" alt="Screenshot 2020-11-01 at 1 03 51 PM" src="https://user-images.githubusercontent.com/8397274/97797409-cdbbfa80-1c42-11eb-8912-78eb8e1f5884.png">

[2020-11-01 07:38] #39 closed

[2020-11-02 14:53] kaustubhgupta commented on #31
Hi @gautamkrishnar,
I have a suggestion to include Analytics India Magazine, a leading Data Science and technology website where many authors write articles related to machine learning and other tech stacks. The feed link is working perfectly fine for me:
[code]

I have included this in my workflow too: [my workflow](https://github.com/kaustubhgupta/kaustubhgupta/blob/master/.github/workflows/blog

[2020-11-02 15:01] gautamkrishnar commented on #31
@kaustubhgupta feel free to add that via a PR

[2020-11-02 15:14] khromov opened #40 "[Bug]: Manual run of action triggers "UnhandledPromiseRejectionWarning: Error: Invalid status code: 128""
**Describe the bug**
As per title. The workflow succeeds, but the error is printed in the logs.

**Expected behavior**
Manual completes without errors.

**Log**

[code]

**Workflow Yml Used**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-02 19:14] #40 closed

[2020-11-02 19:15] gautamkrishnar commented on #40
Hi, @khromov thanks a lot for reporting this issue, it might've made the workflow broken to hundreds of users... Just did some changes to handle promises correctly. 😄

[2020-11-02 19:19] gautamkrishnar commented on #40
This is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.4.0

[2020-11-05 11:29] kimmohito opened #42 "When I deleted the `file.yml`, i can no longer use new `file.yml`, I'm forced to use new name instead."

[2020-11-05 11:50] gautamkrishnar commented on #42
@kimmohito this is not related to this repository please report this to Github instead.

[2020-11-05 11:50] #42 closed

[2020-11-05 11:52] kimmohito commented on #42
thanks!

[2020-11-12 16:10] Dovives opened #44 "[Feature]: Retrieve the "Description" or Custom field for each feed"
Hi,

First thanks for creating this GitHub Action. It's really helpful !

**Retrieve a field for each post**
Is-it possible to retrieve a field like "Description" for each feed ?

**Additional context**
We would like to generate a newsletter based on multiple feeds. It would interesting if we could grab the "Description" field for each post to bring more info about the post.

[2020-11-12 17:52] #44 closed

[2020-11-12 17:55] gautamkrishnar commented on #44
@Dovives thanks a lot for the suggestion just added `$description` that will let you use the description in your `template` parameter. You can also use the existing `custom_tags` parameter if you want to use some custom tags as a template variable.

[2020-11-12 18:05] gautamkrishnar commented on #44
This is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.4.1

Example usage:
[code]

@Dovives

[2020-11-17 08:42] Dovives commented on #44
Many Thanks @gautamkrishnar

[2020-11-23 15:52] krossovochkin opened #45 "[Bug]: Feed can't be read from github.io repo rss"
**Describe the bug**
Set up workflow as in your repo (with the only difference that link to feed changed)

**Expected behavior**
Feed is parsed and shown on Readme successfully

**Workflow Yml Used**
[code]

Error says:
[code]
https://github.com/krossovochkin/krossovochkin/runs/1442964262?check_suite_focus=true

Thank you

[2020-11-23 16:04] gautamkrishnar commented on #45
@krossovochkin please check the domain you had given. its `https://krossovochkin.github.io/index.xml runner` not `https:/krossovochkin.github.io/index.xml runner`

[2020-11-23 16:04] #45 closed

[2020-11-23 19:48] krossovochkin commented on #45
Thanks, @gautamkrishnar
Shame on me, stupid mistake.

But unfortunately it still not working (
[code]
https://github.com/krossovochkin/krossovochkin/runs/1444087612?check_suite_focus=true

Maybe you have an idea what's wrong this time?

Thank you

[2020-11-23 20:41] gautamkrishnar commented on #45
@krossovochkin looks like one of your post don't have a title:
https://krossovochkin.github.io/about/
[code]

A title is required for the blog post to show up, please remove that item from the rss feed/add title to that item.

<img width="1089" alt="Screenshot 2020-11-24 at 2 08 52 AM" src="https://user-images.githubusercontent.com/8397274/100012920-0db56e00-2dfa-11eb-966d-c530a4c6a81a.png">

[2020-11-24 19:46] krossovochkin commented on #45
Changed URL to link to posts RSS: https://krossovochkin.github.io/posts/index.xml

And it works now.
Thanks!

[2020-11-24 19:48] gautamkrishnar commented on #45
👍🏻 Awesome

[2020-11-27 17:27] nathaneastwood opened #46 "[Bug]: Posts are all appearing on one line"
Blog posts are being placed on the same line and not as a bulleted list

You can see here: https://github.com/nathaneastwood/nathaneastwood#-latest-blog-posts

[2020-11-27 17:49] gautamkrishnar commented on #46
Hi @nathaneastwood please use:

[code]

If you just need the bullet list

[2020-11-27 17:50] gautamkrishnar commented on #46
oh looks like you need to use the custom format since you have the link in relative format:
[code]
Let me take a look.

[2020-11-27 17:59] gautamkrishnar commented on #46
Hi @nathaneastwood its mostly due to wrong template that you used.

Please use `template: "$newline- [$title](https://nathaneastwood.github.io$url)"`

mind the space between - and [

[2020-11-27 17:59] #46 closed

[2020-11-27 18:21] nathaneastwood commented on #46
Perfect - thanks!

[2020-12-01 13:52] programmer-frog opened #47 "[Bug]: Shows wrong stats"
**Describe the bug**

I added this workflow to my profile README but for some reason it doesn't show my morning commits to another repo and shows closed issues to my README repo (I closed them yesterday)

**Expected behavior**

I expected that it will show my commits.

**Screenshots**

Look at my profile README [here](https://github.com/programmer-frog/programmer-frog)

**Workflow Yml Used**
[code

[2020-12-01 15:12] gautamkrishnar commented on #47
@jamesgeorge007 please take a look. @programmer-frog this is not related to this project please reopen this issue on https://github.com/jamesgeorge007/github-activity-readme

[2020-12-01 15:12] #47 closed

[2020-12-21 09:00] ghost opened #49 "[Bug]: Shows "$title""
**Describe the bug**

I changed my blog-posts template to `$newline - $randomEmoji(💯,🔥,💫,🚀,🌮) [$title]($url)` and in the last article it shows
`$title <TITLE AND LINK>` [here](https://github.com/dart-coder) you can see it.

**Expected behavior**

I expected that it will show smth like this:
- 💯 [COOL ARTICLE](https://dev.to/cool-article)

**Screenshots**

https://user-images.githubusercontent.com/

[2020-12-21 16:36] gautamkrishnar commented on #49
@dart-coder hope it's fixed right now. I am unable to see the issue on the URL you provided. Please close this one if its working fine.

[2021-01-11 08:22] gautamkrishnar opened #51 "[Feature]: Set the list generated as an output variable so that other actions can consume it"
the list generated as an output variable so that other actions can consume it and can do stuff with the data.

Add a flag to set this. Prevent commit to readme if this flag is present.

[2021-01-11 09:11] #51 closed

[2021-01-11 10:11] gautamkrishnar commented on #51
https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.4.4 released this one

[2021-01-12 10:44] gautamkrishnar commented on #51
The output format will be as follows:

#### Workflow yaml
[code]

#### Results output variable
[code]

You can use tools like [jq](https://stedolan.github.io/jq/) to read value from the variable. Explaining how to do that is beyond the scope of this project.

[2021-01-20 11:00] lakshyajit165 opened #52 "[Bug]: Action workflow does not pull latest blogs posts from medium"
**Describe the bug**
I have setup a cron expression to pull the latest blog posts from medium every hour, but it doesn't do so

**Workflow Yml Used**
[code]

[2021-01-20 12:17] gautamkrishnar commented on #52
https://github.com/lakshyajit165/lakshyajit165/actions?query=workflow%3A%22Latest+blog+post+workflow%22

See the message at top

[2021-01-20 12:17] #52 closed

[2021-01-20 12:30] gautamkrishnar opened #53 "[Feature]: Commit an empty commit when the last commit is before 50 days."
**Is your feature request related to a problem? Please describe.**
Right now GitHub will stop running the cron based trigger if there is no activity happening on the repo for the past 60 days.

![Screenshot 2021-01-20 at 5 58 15 PM](https://user-images.githubusercontent.com/8397274/105174930-4303e100-5b49-11eb-90ed-95a55697582f.png)

**Describe the solution you'd like**
Committing an empty commit

[2021-01-20 14:00] lakshyajit165 commented on #52
Thanks for the clarification!

[2021-01-20 16:08] #53 closed

[2021-01-23 06:46] gautamkrishnar commented on #52
@lakshyajit165 Thanks for reporting this. I had added a feature that will commit to the repository occasionally if there is no change detected for the last 50 days automatically, It will keep the repository active, you don't have to manually keep committing to the repo anymore.

[2021-01-23 07:44] lakshyajit165 commented on #52
@gautamkrishnar Thanks again for the mention and clarification. Loved the feature which you've implemented - really makes it convenient to fetch blog posts and with such a simple and neat documentation! Keep up the good work! :)

[2021-01-31 18:40] rupeshtiwari opened #54 "[Bug]: Error: Cannot find the comment tag on the readme:"
**Describe the bug**
It is keep saying `Error: Cannot find the comment tag on the readme:`

**Expected behavior**
Should post successfully.

**Screenshots**
![image](https://user-images.githubusercontent.com/330383/106394273-bf0feb80-63c9-11eb-8a75-020110ae1da5.png)
I have the section in my github readme
![image](https://user-images.githubusercontent.com/330383/106394286-d51dac00-63c9-11eb-8294-3e

[2021-01-31 19:01] gautamkrishnar commented on #54
@rupeshtiwari you are using the wrong tag, use:
[code]

[2021-01-31 19:02] gautamkrishnar commented on #54
That message need to be updated, i will update those. Thanks for reporting,

[2021-01-31 19:04] #54 closed

[2021-01-31 19:08] gautamkrishnar commented on #54
Fix for this is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.4.9

[2021-02-25 13:53] doit opened #55 "[Feature]: Can Support Feed List is the github issues by github api"
**Is your feature request related to a problem? Please describe.**
sometimes， someone use the github issues as a blog.  Is the feed url a github repo issue?

**Describe the solution you'd like**
 The feed url is a github repo issue, like https://github.com/jiangtao/blog/issues?q=is%3Aopen+is%3Aissue

[2021-02-26 10:48] gautamkrishnar commented on #55
Hi @doit right now github dont supports outputing issues are RSS format but you can write your own wrapper on top of github api to generate it. Adding that this project would be beyond the scope of this project.

[2021-02-26 10:48] #55 closed

[2021-03-09 22:10] adrianpaniagualeon commented on #31
Added Tumblr
#56

[2021-03-10 07:54] doit commented on #55
Got it

[2021-03-25 11:52] fundor333 opened #58 "[Feature]: Having a template file and an output file"
**Is your feature request related to a problem? Please describe.**

A lot of time, when I am working on the README.md of my profile I make change on my machine and, when I try to push, I have conflict to resolve for the blog section.

**Describe the solution you'd like**

I like to have an config for input path (like readme_path) and a output path.

If you have a input and output path you can have

[2021-03-25 14:27] gautamkrishnar commented on #58
@fundor333 can you please elaborare what you are suggestiung with a minimal example of

- Contents of TEMPLATE.md
- Contents of README.md
- Contents of README.md after the blog post workflow is ran.

[2021-03-25 14:47] fundor333 commented on #58
This is my idea. You have a template clean like this If the config is set. It allways remain in this state. It's an input

## TEMPLATE.md

[code]

README is the output of the workflow.

## README.md  before the blog post workflow is ran

[code]

## README.md  after the blog post workflow is ran

[code]

If you have a complex README or a long one you can edit without having conflict or without "spa

[2021-03-25 15:05] gautamkrishnar commented on #58
@fundor333 In my opinion, this will add additional confusion to the users. Even if you add this template thing the readme will be committed with the changes. Lets me explain with an example:

- You had 3 blog posts on your blog, following is the state of your readme:
[code]
- You cloned the above project to your local by running:
[code]
- Now you have the local clone that is synced with the upstre

[2021-03-25 15:05] gautamkrishnar commented on #58
`

[2021-03-25 15:10] gautamkrishnar commented on #58
@fundor333 In my opinion, this will add additional confusion to the users. Even if you add this template thing the readme will be committed with the changes. Lets me explain with an example:

- You had 3 blog posts on your blog, following is the state of your readme:
[code]
- You cloned the above project to your local by running:
[code]
- Now you have the local clone that is synced with the upstre

[2021-03-25 15:12] gautamkrishnar commented on #58
also this workflow will update the readme only if you wrote a blog post while you did the local change of the code, it is too unlikely to happen in the most cases. Readme will not be updated all the time when this workflow is run, it will update only if there is a change in the RSS feed.

[2021-03-25 15:12] #58 closed

[2021-03-25 15:17] gautamkrishnar commented on #58
The changes made by the workflow will be also extremely minimal, i dont think that there is a problem in fixing the merge conflicts if you follow the correct git workflow.
Eg: https://github.com/ayushi7rawat/ayushi7rawat/commit/5f650894554254a192413bd0d41e27d17b121664

[2021-03-29 21:41] qWici commented on #49
@gautamkrishnar nope. It's bugged. You can check this out on [profile repo](https://github.com/qWici/qWici).

[2021-03-29 21:43] gautamkrishnar commented on #49
@qWici looks like it is working fine.

[2021-03-29 21:44] gautamkrishnar commented on #49
oh yea got it $title is there.

[2021-03-29 23:01] #49 closed

[2021-03-29 23:05] gautamkrishnar commented on #49
@qWici fix for this is released on version 1.5.1 https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.5.1

[2021-03-30 07:30] qWici commented on #49
@gautamkrishnar cool, thanks)

[2021-03-31 20:23] Milo123459 opened #59 "[Bug]: Run git pull"
sometimes the ref pulling fails, before running git push do git pull to fix this

thanks

[2021-04-01 11:23] nil0x42 opened #60 "[Bug]: Error: {"code":1,"outputData":""}"
**Describe the bug**
Since yesterday (2021-03-31 20:00), my blog-post-workflow action fails every hour, with this weird error:
`Error: {"code":1,"outputData":""}`

**Expected behavior**
The job should just succeed, even if there is nothing new to do

**Screenshots**
![Screenshot_2021-04-01_05-52-19](https://user-images.githubusercontent.com/3504393/113249795-ddea0b80-92ae-11eb-815c-aef2d3cf1e3f.pn

[2021-04-01 11:57] gautamkrishnar commented on #60
@nil0x42 Will take a look at it thanks for reporting.

[2021-04-01 18:09] gautamkrishnar commented on #60
Hi @nil0x42 this is due to the service you are using. It is returning random data everytime you fetch it.
![Screenshot 2021-04-01 at 11 37 52 PM](https://user-images.githubusercontent.com/8397274/113336116-83e75580-9343-11eb-93b6-a898c9dfdd18.png)

Please doube check the source. It has some problem.

[2021-04-01 18:27] gautamkrishnar commented on #59
@Milo123459 this is already done in this workflow: https://github.com/gautamkrishnar/blog-post-workflow/blob/master/blog-post-workflow.js#L326

If you are experincing problems while running paralell with other workflows. please adjust the timing of the cron job for this workflow workflow.

[2021-04-01 18:27] #59 closed

[2021-04-01 18:52] gautamkrishnar commented on #60
Digged deeper into the problem this is not a bug of fhe app itself it is mainly due to the handling of the emojis.

Following is the text i got while i ran this workflow two times.
Old value
[code]
New Value from API:
[code]

This is mainly due to something happeing in node js using the 🔥  emoji in your tweet: https://twitter.com/nil0x42/status/1377245468447625216

I guess this is becasue the emoj

[2021-04-01 19:50] gautamkrishnar commented on #60
@nil0x42 fix for this is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.5.5 🎉 You dont have to use the wokarround. It will fixed in the next workflow run.

[2021-04-02 12:19] nil0x42 commented on #60
Hi ! Very interesting bug BTW ! After you pushed new release it stopped failing, but now it just failed again

[2021-04-02 12:33] gautamkrishnar commented on #60
@nil I can't see any failing workflows here dab

[2021-04-02 12:34] gautamkrishnar commented on #60
I can't see any failing workflows on your profile. Can you please share the link.

[2021-04-02 12:36] #60 closed

[2021-04-03 16:02] benthecoder opened #61 "Why is the max only 5? Is it possible to increase it?"
I would like this workflow to show about 50 posts. is that possible?

[2021-04-03 17:34] gautamkrishnar commented on #61
@benthecoder max is not limited to 5 it can be infinite. The Feed URL you are using is returning only 5 items: https://medium.com/feed/@benedictxneo

[2021-04-03 17:34] #61 closed

[2021-05-13 11:58] vikichand commented on #31
Did anyone think of adding LinkedIn? 🤔

[2021-05-13 12:11] gautamkrishnar commented on #31
@vikichand it is possible but not straignt forward since linkedin donthave an rss feed. You can do that with services like zapier.

[2021-05-13 12:20] gautamkrishnar commented on #31
@vikichand just checked zapier, they also stopped supporting linkdin. So the only option is writing your own rss generator using the linkedin api.

[2021-05-13 12:21] gautamkrishnar commented on #31
Closing this issue since we already have enough sources now. Feel free to add any new one via pull requests.

[2021-05-13 12:21] #31 closed

[2021-05-14 04:37] cybercoder-naj opened #65 "[Bug]: runner failed, please verify the configuration. Error 404"
**Describe the bug**
I have a workflow that draws from Youtube. For many months, I have used it and it worked perfectly but now it seems to fail.
When I enter the link `https://www.youtube.com/feeds/videos.xml?channel_id=XXXX` in my browser, I get all my data.

**Expected behavior**
I expect the workflow to get the required contents and updated my README.md accordingly.

**Screenshots**
![image](h

[2021-05-14 06:45] gautamkrishnar commented on #65
@cybercoder-naj from the action run i can see that the stattus code is 404. It might be a problem in the google's side.
https://github.com/cybercoder-naj/cybercoder-naj/runs/2581142400?check_suite_focus=true
<img width="1026" alt="Screenshot 2021-05-14 at 12 02 07 PM" src="https://user-images.githubusercontent.com/8397274/118231104-3dd9f180-b4ac-11eb-801f-41ce3c65c6b5.png">

When i opened the url

[2021-05-14 06:45] #65 closed

[2021-05-14 06:54] gautamkrishnar commented on #65
@cybercoder-naj  i also tried hitting it a couple of times via CURL, this was the status:
<img width="1552" alt="Screenshot 2021-05-14 at 12 22 22 PM" src="https://user-images.githubusercontent.com/8397274/118233185-32d49080-b4af-11eb-93a7-557a4c575cb2.png">

As you can see there are a lots of 404 and 500 coming from the google's end.

[2021-05-14 09:52] gautamkrishnar opened #66 "[Feature]: Implement retry functionallity"
**Is your feature request related to a problem? Please describe.**
Retry functionallity

**Describe the solution you'd like**
- Add additional argument named `retry_count` and `retry_wait_time` to the action options that allow user to do retry.

**Additional context**
This will be an intermittent solution for the issue like #65

[2021-05-14 11:26] #66 closed

[2021-05-14 11:44] gautamkrishnar commented on #65
@cybercoder-naj looks like google fixed it. Its working fine right now. Please try re enabling the workflow.

I had released a new release with the retry feature so that the workflow will rety muliple times if the first try fials: https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.5.6

[code]

[2021-05-16 09:29] gautamkrishnar commented on #31
@vikichand you can try using this for linkedin posts: https://automate.io/integration/linkedin/rss-feed Please let me knoe if it is working.

[2021-05-21 19:09] ragazzo-br commented on #54
I'm having the same problem

[2021-05-21 19:30] gautamkrishnar commented on #54
@ragazzo-br as error message says `Cannot find the comment tag on the readme:  `. Add comment tags to your readme. Please read the documentation: https://github.com/gautamkrishnar/blog-post-workflow/blob/master/README.md before using the action.

You can also checkout this video: https://www.youtube.com/watch?v=ECuqb5Tv9qI&t=272s

[2021-05-29 09:38] Gr8z opened #67 "[Bug]: Error Code 128"
I am getting the following error when I try to run this action with my RSS feed:

[code]

action.yml
[code]

[2021-05-29 09:55] gautamkrishnar commented on #67
hi @Gr8z i cannot reproduce this on my test repo.
![Screenshot 2021-05-29 at 3 23 16 PM](https://user-images.githubusercontent.com/8397274/120065980-d4540880-c091-11eb-9944-27f28de428ee.png)

Please dont combine the workflow with wakatime readme workflow. Just create a new blog-post-workflow.yml and add the code there. That is the bug in your repo.

[2021-05-29 09:55] #67 closed

[2021-05-29 09:59] gautamkrishnar commented on #67
Also there is a mistake in your code. This workflow requires checkout action to be included. Please check the docs before using the workflow:
https://github.com/gautamkrishnar/blog-post-workflow#how-to-use

You missed:
[code]

[2021-06-22 07:17] infinity-plus opened #70 "[Feature]: Add WordPress sites in README"
**Is your feature request related to a problem? Please describe.**
WordPress Blogs are more common nowadays, many people including me use it for blogging. It will be great to let people know that this workflow can fetch blogs from WordPress as well.

**Describe the solution you'd like**
It is more of a tip, just add `/feed/` to your  WordPress URL. For example, if my website is example.com, this W

[2021-06-22 07:22] gautamkrishnar commented on #70
@infinity-plus Thanks for openning the issue, wordpress is already there in the popular sources list: https://github.com/gautamkrishnar/blog-post-workflow#popular-sources

[2021-06-22 07:22] #70 closed

[2021-06-22 07:26] infinity-plus commented on #70
My bad, sorry

[2021-07-02 08:18] aakashmeesho opened #71 "[Bug]: Attribute without value error"
**Describe the bug**
Getting "Attribute without value" error on running the workflow.

**Screenshots**
![image](https://user-images.githubusercontent.com/74188631/124243922-08f92b00-db3c-11eb-9b5e-0233df0fe5ac.png)

**Workflow Yml Used**
[code]

[2021-07-02 08:20] ATakaSKY opened #72 "[Bug]: Attribute without value error"
**Describe the bug**
Getting "Attribute without value" error on running the workflow.

**Screenshots**
<img width="810" alt="image" src="https://user-images.githubusercontent.com/17201629/124244273-668d7780-db3c-11eb-9f6a-ec7ca59afcb7.png">

**Workflow Yml Used**
[code]

[2021-07-02 08:20] #71 closed

[2021-07-02 08:49] gautamkrishnar commented on #72
@ATakaSKY please read the documentation before using the action. The URL you specified for your medium feed is wrong. the acual url is: `https://medium.com/feed/@akashthakur_15975/` as mentioned here in the docs: https://github.com/gautamkrishnar/blog-post-workflow#popular-sources

[2021-07-02 08:49] #72 closed

[2021-07-05 14:28] sprakash57 opened #73 "[Bug]: Error: Error: ENOENT: no such file or directory, open './README.md'"
**Describe the bug**
blog-post-workflow is failing every time with the error message `Error: Error: ENOENT: no such file or directory, open './README.md'`

**Expected behavior**
- I have followed every step mentioned in the workflow readme.
- I have 6 posts in my dev.to account.
- I have added `BLOG-POST-LIST` start and end tag as described in my README file.

Still, the workflow is failing with t

[2021-07-05 14:36] #73 closed

[2021-07-05 14:40] gautamkrishnar commented on #73
@sprakash57 Its because you renamed the README use the following code:
[code]
You can also merge this PR: https://github.com/sprakash57/sprakash57/pull/1/files

[2021-07-05 16:04] sprakash57 commented on #73
😦 So that was the mistake. Thanks for pointing it out and thank you for this awesome workflow.

[2021-07-12 23:08] nicko170 opened #74 "[Feature]: Remove Medium Preview Image from Description"
Hey @gautamkrishnar!

Firstly, this is amazing, so thank you.

I'd like to ask about getting an option to strip the images from the description generated by Medium. Just a bit too big to be in here I think :-)

Example:  https://github.com/nicko170/nicko170/blob/main/README.md

Thanks again!

[2021-07-12 23:17] gautamkrishnar commented on #74
Hi @nicko170 You can do this via `item_exec`:
[code]

[2021-07-12 23:17] #74 closed

[2021-07-20 22:29] DuncanFaulkner opened #75 "Requires a bit more explanation"
Hi,
Saw your article and thought I would try this out on my readme page.

I could not get this to work with my credentials in the actions file. Having tried your actions file with my feed it worked.

you need to include extra files to it get to work. You need the blog-post-workflow.js file in a dist directory and the action.yml file in the root for it to actually work. This took me several hours (

[2021-07-21 00:49] gautamkrishnar commented on #75
@DuncanFaulkner this workflow's source codes is not meant to be used that way. You can just include the workflow in your own Github action. You really don't have to copy paste the source code to your own repository. Please check the readme for more information.

https://github.com/gautamkrishnar/blog-post-workflow/blob/master/README.md

You can also check out the following video for a demo on how

[2021-07-21 00:49] #75 closed

[2021-07-21 20:23] DuncanFaulkner commented on #75
OK the video did make it clear that I need to include - ```uses: gautamkrishnar/blog-post-workflow@master``` I was changing this line to be my org/repo@master that isn't clear until you watch the video.

[2021-07-21 21:04] gautamkrishnar commented on #75
@DuncanFaulkner In readme you can see the following, i am only mentioning about updating the feed url, nothing else https://github.com/gautamkrishnar/blog-post-workflow#:~:text=Replace%20the%20above%20url%20list%20with%20your%20own%20rss%20feed%20urls.%20See%20popular-sources%20for%20a%20list%20of%20common%20RSS%20feed%20urls.:
<img width="946" alt="Screenshot 2021-07-22 at 2 34 27 AM" src="https:

[2021-07-21 21:52] DuncanFaulkner commented on #75
Yes sorry, I completely overthought this, when reading it back the steps are quite clear again my appologises.
Great work by the way :+1:

[2021-07-21 23:09] gautamkrishnar commented on #75
@DuncanFaulkner  No problem, thanks a lot for using it. Really happy to know that you liked it 😄.

[2021-08-08 14:39] M87K452b opened #76 "Question"
Hello! Is there a way I can add the blog post workflow to a README.rst (reStructured Text) file for the profile?

[2021-08-08 17:30] M87K452b commented on #76
No worries. Forked the repo and made some changes to accommodate for .rst files. I am new to JS so, I resorted to hardcoding the changes. The code is very well written and the comments were very helpful. Thank you!

[2021-08-08 17:30] #76 closed

[2021-09-09 11:53] MichaelCurrin opened #97 "[Docs]: Tidy up README"
Recommended doc changes

- Indent Markdown and YAML inside bullet points.
- Convert bullet points to numbered points - steps are meant to be followed in order so numbering is important.
- Headings started at H3 `###`, so made H3 into H2 and H4 into H3 to follow a more typical approach to structuring a Markdown doc or webpage.
- Add whitespace in the dense Markdown, like around headings.
- Added so

[2021-09-09 13:08] #97 closed

[2021-09-22 04:08] flyingsonu122 opened #99 "[New Source]: Blogger"
Source Name: Blogger
Source URL:  https://www.blogger.com/feeds/{blogID}/posts/default

OR

https://{blog-name}.blogspot.com/feeds/posts/default

Example: https://www.blogger.com/feeds/1650914765603013759/posts/default

OR

https://singlebucks.blogspot.com/feeds/posts/default

[2021-09-22 06:07] #99 closed

[2021-09-22 06:08] gautamkrishnar commented on #99
Thanks for the suggestion @kaustubhgupta 😄

[2021-09-22 08:32] levalencia opened #100 "Error: Error: Attribute without value Line: 0 Column: 2560 Char: >[Bug]:"
**Describe the bug**
When it runs I get this error:
[code]

**Expected behavior**
fetch blog posts

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Workflow Yml Used**
[code]

**Additional context**
Add any other context about the problem here.

[2021-09-22 09:17] gautamkrishnar commented on #100
@levalencia are you sure that you posted the right `Workflow Yml Used`, it works fine for me:

![Screenshot 2021-09-22 at 12 43 48 PM](https://user-images.githubusercontent.com/8397274/134317177-c7d708a0-8f26-4905-830a-220c2a7519c4.png)

[2021-09-22 09:20] gautamkrishnar commented on #100
Form the error message:
`https://feedly.com/i/subscription/feed%2Fhttp%3A%2F%2Fluisevalencia.com%2Frss%2Fn`

This is not a correct feed URL. It is just returning an HTML Page. That's why the workflow is failing.

[2021-09-22 09:21] levalencia commented on #100
please check the YML, I am not even using feedly, the rss url is this: http://luisevalencia.com/rss/

I dont understand why the error message says feedly

[2021-09-22 09:21] levalencia commented on #100
nevermind it works now :)

[2021-09-22 09:21] #100 closed

[2021-10-15 01:39] maxirosson opened #101 "[Bug]: Posts titles are not escaped"
**Describe the bug**
When generating the title with special characters (like `|`), the readme is broken when deployed to Github Pages

For example
`- [This is an example | with an especial char](https://www.youtube.com/watch?v=Du6AdFUjy1A)
`

**Expected behavior**
Escape special characters when editing the readme: `|` -> `\|`

[2021-10-15 02:19] #101 closed, assigned to nobody

[2021-10-15 14:14] maxirosson opened #102 "[Feature]: Assign a friendly name to each feed"
**Is your feature request related to a problem? Please describe.**
I am generating a single list of posts from different sources. I would like to include the feed name on each line.

**Describe alternatives you've considered**
Maybe if we send a key/value map on the feed_list parameter, we could solve this problem. Suppose the key is a friendly feed name defined by the dev, and the value is the UR

[2021-10-15 15:07] gautamkrishnar commented on #101
@maxirosson its ok. 'item_exec' argument was intended to serve this purpose.

[2021-10-22 02:44] yqlbu opened #103 "[Bug]: Hugo links seem to not work?"
**Describe the bug**

Looks like it is incompatible with Hugo Site

**Screenshots**

![](https://ibb.co/P4nXKnK)

**Workflow Yml Used**
[code]

**Additional context**

[2021-10-22 13:03] #102 closed, assigned to nobody

[2021-10-27 06:07] fbuireu opened #104 "[Feature]: add target file option"
**Is your feature request related to a problem? Please describe.**
By default (as it should be) it uploads automatically the `README.md` file. I imagine some other scenarios where someone may want to update another file (let's say `README_it.md`).

**Describe the solution you'd like**
I'd like the option to use different markdown files to be uploaded using a key like: `TARGET_FILE`.

**Describe al

[2021-10-27 06:37] #104 closed, assigned to nobody

[2021-11-04 23:03] LucasTMP opened #105 "[Feature]: Tag collection"
![image](https://user-images.githubusercontent.com/50775822/140431885-bc464acc-65ae-4b7a-8f01-b5cef39ac0d2.png)

Is there any way to get each tag in this "collection"?
(Dev.To) https://dev.to/feed/lucastmp

It would be really nice to have all the tags of the posts, so it would be possible to search more easily.

[2021-11-06 13:45] #105 closed

[2021-11-06 13:49] gautamkrishnar commented on #105
@LucasTMP Please use `template` parameter and `categories` variable for this purpose.
Eg:

[code]

[2021-11-06 19:47] LucasTMP commented on #105
TKS!!!

![image](https://user-images.githubusercontent.com/50775822/140621998-c5e1076d-f770-438c-939e-0f13d031405d.png)

[2021-11-15 03:40] Aravin opened #107 "Need to import feed from Strapi CMS to github readme"
Hi Team,

Can you please introduce the feature to import feed using strapi cms to github

This is my website: https://www.aravin.net

This is my strapi endpoint: https://aravin-net-cms.herokuapp.com/

This is my article endpoint: https://aravin-net-cms.herokuapp.com/articles

This is my failing github actions: https://github.com/Aravin/Aravin/actions/runs/1460565385

[2021-11-15 09:26] gautamkrishnar commented on #107
@Aravin This project supports only RSS Feeds. Not JSON Data. Please add the necessary code to convert your strapi JSON API to RSS. Just consume that API in some of the static site generators like Gatsby to create your own RSS feed.  Adding support for parsing JSON data is beyond the scope of this project.

[2021-11-15 09:26] #107 closed

[2021-11-15 09:28] gautamkrishnar commented on #107
@Aravin check https://strapi.io/blog/building-a-static-website-using-gatsby-and-strapi and https://www.gatsbyjs.com/docs/how-to/adding-common-features/adding-an-rss-feed/

[2021-11-15 09:41] Aravin commented on #107
I know how to consume strapi API @gautamkrishnar

Thanks.

[2021-11-27 16:27] minnczi opened #108 "[New Source]: Velog"
Source Name: Velog
Source URL:
https://v2.velog.io/rss/{userid}

Comments: It's a popular blogging platform in Korea. It's geared specifically towards the developer community.
I've already tested it out with the URL below on my README and it works perfectly!

Example: https://v2.velog.io/rss/minnczi

[2021-11-27 22:08] #108 closed

[2021-11-30 17:02] lyqht opened #110 "Truncated output from Github Action"
**Describe the bug**
Using the action with the following .yml of `output_only=true`

The output I got is truncated. An example can be seen from [this workflow run](https://github.com/lyqht/test-repo-github-action-workflow/runs/4367439394?check_suite_focus=true) under the `Run cd /home/runner/work/_actions/lyqht/article-count-workflow/main && npm install && node articleCount.js` command

**Expected

[2021-11-30 17:58] gautamkrishnar commented on #110
The output is usually truncated due to Github's environment limits. The error message might show up as "Error: Argument list too long" if we try to echo the generated output. Added a fix that redirects the generated JSON into a file (`/tmp/blog_post_workflow_output.json`) so that the users can consume the generated contents without using the github action's native echo commands.
You can now do som

[2021-11-30 17:59] #110 closed

[2021-11-30 18:06] gautamkrishnar commented on #110
This is released on https://github.com/gautamkrishnar/blog-post-workflow/releases/tag/1.6.5

[2021-12-01 05:29] lyqht commented on #110
@gautamkrishnar , hello there, I'm getting a new error by following the instructions above in this [workflow run](https://github.com/lyqht/test-repo-github-action-workflow/runs/4377279420?check_suite_focus=true)

Sorry, I'm not very familiar with using jq 😅

[code]

[2021-12-01 07:16] gautamkrishnar commented on #110
@lyqht what are you trying to do, can you please explain the use case you are trying to achieve.

[2021-12-01 08:12] gautamkrishnar commented on #110
@lyqht it was a bug 🤣 , fixed it. Please use the following code to get the length:
[code]

[2021-12-01 08:33] lyqht commented on #110
Able to get it now

[code]

Thank you for the fix 👍

[2021-12-01 22:18] Sacsam005 opened #111 "[Bug]:"
**Expected behavior**
The error says repository not found which I don't find valid, if not please enlighten me.

**Workflow Yml Used**
[code]

**Additional context**
I tried every possible way of doing that, checked my RSS feed link, but failed.

[2021-12-02 00:36] gautamkrishnar commented on #111
@Sacsam005 you are using it wrong. Please read the instructions on the readme before using the workflow.

Watch this video for a demo on how to use the workflow: https://www.youtube.com/watch?v=ECuqb5Tv9qI&t=272s

[2021-12-02 00:36] #111 closed

[2021-12-02 00:38] gautamkrishnar commented on #111
Use the following code in your workflow:
[code]

[2021-12-02 01:40] Sacsam005 commented on #111
I have been following that video and your instructions but IDK why my blogs are not being synced. The workflow ran after I used the above code but still, the blogs are not showing on my readme.

[2021-12-02 05:20] gautamkrishnar commented on #111
Looks like it is showing up right now. The main issue was, you were using `Sacsam005/blog-post-workflow@master` instead of `gautamkrishnar/blog-post-workflow@master`

[2022-01-05 08:56] KunalSingh19 opened #112 "[Feature]: Add option for html and js files"
pls add option of selecting path of file/ file extension

[2022-01-05 10:32] gautamkrishnar commented on #112
@KunalSingh19 can you please explain what are you trying to achieve?

[2022-01-05 10:43] gautamkrishnar commented on #112
@KunalSingh19 you can select path of the readme file using the `readme_path` option.
[code]

[2022-01-05 10:43] #112 closed

[2022-01-11 03:49] kevinfengcs88 opened #113 "Getting Error 403 from Medium Feed"
Here is a list of the most recent workflows; was able to run fine 7 times, but on the 8th and 9th scheduled attempts, they failed. On the 10th (manual run), it also failed.

![image](https://user-images.githubusercontent.com/80129996/148877753-7130c7d8-448b-431d-8351-af7d30d90cf4.png)

Investigating why they failed, I can see the following two annotations for each of the failures:

![image](https:

[2022-01-11 05:19] kaustubhgupta commented on #113
Same, my workflow has been running for 9-10 months, but today it got into 403 error. Any fix would be highly appreciated. https://github.com/kaustubhgupta/kaustubhgupta/actions/workflows/blog-updater.yml

[2022-01-11 07:10] gautamkrishnar commented on #113
@kaustubhgupta @kevinfengcs88 thanks for reporting.  As you can see from the error logs that this is a medium issue. Please report the same to medium support and ask them why this is happening:
[code]

This can't be fixed in the blog post workflow since this is triggered by the medium's backed. Keeping this issue open so that others who face the same issue might be aware of this.

[2022-01-11 07:14] gautamkrishnar commented on #113
Medium might've blocked the public IP of Github.

[2022-01-11 07:44] gautamkrishnar commented on #113
@kaustubhgupta @kevinfengcs88 As a workaround you can use some of the feed aggregators.  It will act as a proxy for your actual feeds.

https://www.lifewire.com/rss-aggregator-tools-3486469

For example @kaustubhgupta you can use this URL for your feeds (https://www.analyticsvidhya.com/blog/author/kaustubh1828/feed/, https://medium.com/feed/@kaustubhgupta1828): http://www.rssmix.com/u/13564959/rss

[2022-01-11 14:50] kevinfengcs88 commented on #113
This RSS mix seems to work, thank you!
![image](https://user-images.githubusercontent.com/80129996/148965165-b528254a-72b7-45e1-9ea6-3a4c6ab6c89c.png)

[2022-01-11 17:23] miShelbyT commented on #113
This solution worked for my RSS feed too. Thank you for finding a workaround for us, @gautamkrishnar !! <3

[2022-01-12 07:56] gautamkrishnar commented on #113
Hi Guys, looks like the issue is resolved right now, the medium team had fixed their backend. You can revert back to your original code if you are using the workaround.

![Screenshot 2022-01-12 at 1 24 55 PM](https://user-images.githubusercontent.com/8397274/149086362-e1e66aaf-f348-4b10-a0ae-85f2b84f8394.png)

Please comment here if you are still facing the issue. @miShelbyT @kevinfengcs88 @Edstub

[2022-01-12 10:03] mcolladoio commented on #113
Revert to previous feed and now, everything is working fine!
Thanks for the advice @gautamkrishnar

[2022-01-12 16:45] gautamkrishnar commented on #113
Thanks for confirming @mcolladoio, Closing this issue since it is working fine now.

[2022-01-12 16:45] #113 closed

[2022-01-12 19:11] miShelbyT commented on #113
Thanks to everyone on this thread. It takes a village!! <3

[2022-01-13 07:32] kaustubhgupta commented on #113
@gautamkrishnar yes the issue is fixed from Medium side. Thanks for suggesting the workarounds! 😄

[2022-01-30 11:40] kristofzerbe commented on #28
Hi @gautamkrishnar ... this feature helps a lot, but one question: How do I reference a property of a tag, for example ``media:thumbnail`` > ``url``?

[2022-01-30 12:36] gautamkrishnar commented on #28
@kristofzerbe can you share a RSS feed example for the some?

[2022-01-30 12:38] kristofzerbe commented on #28
Take your example in your comment from Sep, 21 2020. There you have a tag ``<media:thumbnail url="https://i1.ytimg.com/vi/DPnJldwv22o/hqdefault.jpg" width="480" height="360"/>``. My feed has exactly the same tag and I want to use the ``url`` property.

[2022-01-30 12:44] gautamkrishnar commented on #28
@kristofzerbe right now there isn't any API to do that. if you are trying to include the youtube video's thumbnail I recommend you to use the youtube API. Get the video ID using the above example and use the following API to return the image:
[code]
Example: https://img.youtube.com/vi/DPnJldwv22o/hqdefault.jpg

You can use the above in combination with the templates to generate a table. You can re

[2022-01-30 12:56] kristofzerbe commented on #28
@gautamkrishnar ... hhmm, I don't understand you answer yet. Let me explain my thoughts:

You have implemented ``custom_tags`` for getting the **content** of a tag inside an ``entry`` of a feed. Like ``yt:channelId`` in your example.

But there are other tags in the feed, which carry their information not in the content, but in a named **property**, like ``<media:thumbnail url="" />`` or ``<media:

[2022-01-30 13:04] gautamkrishnar commented on #28
@kristofzerbe as I mentioned earlier. It is not supported. You can only access values that are wrapped by a tag. Example:
[code]

You cant access the named properties of the corresponding tag.

[2022-01-30 13:23] kristofzerbe commented on #28
Do you see any chance to handle my question as a feature request?

[2022-01-30 13:27] gautamkrishnar commented on #28
@kristofzerbe sorry, unfortunately as far as I know the library i am using to parse the rss feeds do not support that. That's why I am unable to implement that as a feature. This is a non standard use case btw.

[2022-01-30 16:54] kristofzerbe commented on #28
Hi @gautamkrishnar ... You are right. RSS-Parser doesn't provide attributes of entry tags yet. I have created a pull request to achieve that ... see https://github.com/rbren/rss-parser/pull/224

With this change users of **blog-post-workflow** should be able to write ``custom_tags: "mediaThumbnailUrl/media:thumbnail.url/"``, to get the value of ``url`` out the tag ``media:thumbnail`` into the fiel

[2022-01-30 16:57] gautamkrishnar commented on #28
@kristofzerbe That's great. Will upgrade once they merge it. 👍🏻

[2022-02-01 11:53] Artlfmj opened #114 "[Bug]: WordPress feed"
**Describe the bug**
A clear and concise description of what the bug is.

During the run I get a 503 error

**Expected behavior**
A clear and concise description of what you expected to happen.

Run and fetch the endpoint

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Workflow Yml Used**
[code]

**Additional context**
Add any other context about the problem here.

[2022-02-01 16:53] Artlfmj commented on #114
Due to Cloudfare Protection

[2022-02-01 16:53] #114 closed

[2022-02-02 06:42] sansk opened #115 "[Feature]: Getting Blog post Image from the feed"
**Is your feature request related to a problem? Please describe.**
I would like to have Image/Thumbnails displayed along with my blog post title, Date & Description

**Describe the solution you'd like**
Able to fetch the image from the hashnode feed and use it in the `template` option.

**Describe alternatives you've considered**
Can have a workaround with `custom_tags` just like something you hav

[2022-02-02 10:18] gautamkrishnar opened #117 "[Bug]: HTML Encoding is conflicting with the item_exec"
Item_exec should be before the html encoding logic.

User Comment:
----
Yeah, it is working in the console. but when I added in the workflow, it doesn't strip the HTML.
![image](https://user-images.githubusercontent.com/3327904/152121987-49c9d6f3-1ae2-461e-a103-1d02d8257e8b.png)

The workflow for the above,
[code]
----
_Originally posted by @sansk in https://github.com/gautamkrishnar/blog-post-wor

[2022-02-02 10:23] #117 closed

[2022-02-12 16:52] codewizard13 opened #118 "[Bug]: Workflow run failed (red x)"
**Describe the bug**
The Latest blog post workflow keeps failing EVERY TIME to grab my feed from [https://erichepperle.com/blog/feed/](https://erichepperle.com/blog/feed/) and thus, never populates the README.md file.

**Expected behavior**
- The action checkmark should turn green upon manual clicking of "Run workflow" button
- BLOG-POST-LIST comments in README.md should auto-populate with my late

[2022-02-12 17:27] TheAwesomeGuy47 opened #119 "Text link to dev.to post not working properly"
https://github.com/TheAwesomeGuy47/theawesomeguy47

^^ Repo with the blog post workflow

It's registering the new post, but not linking the text to it?

[2022-02-12 18:19] gautamkrishnar commented on #119
@TheAwesomeGuy47 remove the br tag you had added, It is breaking the GitHub rendering:
[code]

[2022-02-13 20:06] codewizard13 commented on #118
@gautamkrishnar Thanks for showing me that. I gave the offending post a title and now the action works perfectly!

[2022-02-13 20:31] codewizard13 opened #120 "[Feature]: Please add exception for Aside posts in WordPress blogs"
**Is your feature request related to a problem? Please describe.**
I learned through this issue (https://github.com/gautamkrishnar/blog-post-workflow/issues/118) I posted yesterday that the action won't work on WordPress if any posts are missing a title tag. However, title tags are not necessary on custom post types like ASIDE, which is what the post on my blog was. Please add an exception for the

[2022-02-13 22:19] gautamkrishnar commented on #120
@codewizard13 How do you want the title to be displayed in your readme?

It will be shown just like this:
[code]
preview:
- [](http://example.com/)

When the title is empty

[2022-02-13 23:11] #120 closed

[2022-02-13 23:20] gautamkrishnar commented on #120
@codewizard13 you can now use the following to disable validation:
[code]

You can hide that item from the readme entirely via the following code:
[code]

[2022-03-16 17:50] courtneyr-dev opened #123 "[Feature]: From Date"
**Is your feature request related to a problem? Please describe.**
I want to specify all posts with a timerange, such as the last 7 days or by calendar month.

**Describe the solution you'd like**
Add an option for date parameters

**Describe alternatives you've considered**
I manually check the dates

**Additional context**
Creating a public repo for https://learn.wordpress.org to show 4 content

[2022-03-16 18:50] gautamkrishnar commented on #123
@courtneyr-dev thanks a lot for the suggestion. This will be a cool feature to have. Currently, you can do the following workaround to get this working.

To filter out posts from last 7 days
[code]

[2022-03-16 23:51] courtneyr-dev commented on #123
Thanks. I'll test it in a few hours and report back. 👍🏼

Setting this up on [https://github.com/courtneyr-dev/make-wp](https://github.com/courtneyr-dev/make-wp) and may inquire on moving it to the WordPress OSS repo after a bit of tinkering and a few weeks of testing.

[2022-03-17 01:53] courtneyr-dev commented on #123
Experimenting while keeping these in separate repos.

1. [https://github.com/courtneyr-dev/make-wp-7day]( https://github.com/courtneyr-dev/make-wp-7day)
2. [https://github.com/courtneyr-dev/make-wp-month](https://github.com/courtneyr-dev/make-wp-month)

Some of the workflows aren't updating quite yet. I'll return again in about 12 hours to test. Thanks for the huge help so far.

[2022-03-17 07:17] gautamkrishnar commented on #123
@courtneyr-dev since you have lots of workflows running on the same repository I recommend you to set the schedule as:
`0 * * * *`, `3 * * * *`, `6 * * * *`, `9 * * * *` etc ....`59 * * * *` for each workflow. So that they won't conflict with each other while running.

[2022-03-19 14:33] #123 closed

[2022-03-19 14:43] gautamkrishnar commented on #123
@courtneyr-dev this feature is now live.

You can use it if you want, by using the `filter_dates` argument allows you to filter post items based on date or time range.

**Supported Values** <ul><li>`daysAgo/N/`: Use this value to display only the posts from the last N days. eg: `daysAgo/10/` will show only posts from last 10 days.</li><li>`currentMonth`: Use this value to display the post that are

[2022-03-21 14:24] FranzKafkaYu opened #125 "[Bug]: Workflow failed when I add my wordpress blog feed"
**Describe the bug**
I replaced the url with my own blog feed,but the work flow alaways failed,and I got this error info as blow:
![image](https://user-images.githubusercontent.com/38254177/159280889-b127c53b-9d45-4ef6-a2fe-055b6947c3cf.png)

And when I check my url in browser,it works

**Expected behavior**
Workflow can run successfully.

**Screenshots**
Here is my error info:
![image](https://us

[2022-03-21 16:21] gautamkrishnar commented on #125
@FranzKafkaYu as you can see from the above message, your website itself is returning 503 when you fetch it from github runners. If you use Cloudflare add a whitelist to fix it.

[2022-03-21 16:21] #125 closed

[2022-03-21 23:20] FranzKafkaYu commented on #125
Thank U sir.I am not familiar with these network knowledges and I will look into this. Again, thanks for your kindly help.

[2022-03-22 04:45] xiaomi7732 opened #126 "Question: How to make this work with protected branch"
Error log when the target branch is protected, what is the way to set it up to make it work?

[code]

[2022-03-22 07:53] gautamkrishnar commented on #126
@xiaomi7732 it wont work. Protected branches cannot be pushed directly. You should open a PR to update it.

[2022-03-22 07:53] #126 closed

[2022-03-24 08:56] curtiscde opened #128 "[Bug]: Unable to git pull"
Hey 👋  thanks for this workflow! I'm having an issue I would appreciate some help with.

**Describe the bug**
I receive the following error when the workflow runs:

[code]

I've forked the repo and added some logs to debug this, and it seems as if I might be having an issue with the `git pull` step:

[code]

And the logs I receive are:

[code]
https://github.com/curtiscde/curtiscde/runs/5673355105

[2022-03-24 10:39] gautamkrishnar commented on #128
@curtiscde please use the workflow as exactly mentioned in the [README.md](https://github.com/gautamkrishnar/blog-post-workflow#how-to-use) file. **Do not** use it via on push trigger.
Sane code is working fine for me on the repo: https://github.com/gkr-bot/test-001

Just use the following yaml file after adding the comment in your readme:
[code]

[2022-03-24 10:39] #128 closed

[2022-04-12 18:43] jhoelzel opened #133 "[Bug]: Url is wrong for github generated pages feed"
**Describe the bug**
I use the RSS feed from a github genereated page and it comes without protocol. Therefore the post-bot adds faulty links to my mainpage.

**Expected behavior**
i have an url without a protocoll, or the workflow assumes ssl

**Screenshots**
it can bee seen live here:
https://github.com/jhoelzel/jhoelzel

the repository of the blog can be found here:
https://github.com/jhoelzel/

[2022-04-12 19:04] gautamkrishnar commented on #133
@jhoelzel i recommend you to fix your source code to include the post url in a valid format ie: `https://www.hoelzel.it/argocd/2022/03/23/redeploy-argocd-autopilot-project.html` in `https://www.hoelzel.it/feed.xml`. Since its not a valid url your SEO perfomance may be impacted too.  Search engines like google will throw serrs crawling your website.

Alternatively you can do the following to fix th

[2022-04-12 19:05] #133 closed

[2022-04-13 06:26] jhoelzel commented on #133
Thank you for your excellent support and this smart worflow =)

[2022-04-29 18:35] Sagar0-0 opened #134 "[Question]: Get YouTube thumbnail"
Is there any way to get thumbnails from our YouTube videos? I tried using 'template' but still can't find my way to get the thumbnail and use it as a clickable link to the video(same as of title).

[2022-04-29 18:39] #134 closed

[2022-05-05 06:13] itsmeshibintmz opened #137 "[Bug]: WorkFlow Failed for YouTube Channel"
**Describe the bug**
Shows "runner failed, please verify the configuration. Error:"

**Screenshots**
![image](https://user-images.githubusercontent.com/52344717/166870978-9c5cfbf5-dc9e-4a0c-8752-5536bedf3623.png)
![image](https://user-images.githubusercontent.com/52344717/166871042-ec61b24c-8ee4-45f4-9a0a-74aed6226419.png)

**Workflow Yml Used**
Blog Post Workflow
Insert the workflow's yml file yo

[2022-05-05 16:08] gautamkrishnar commented on #137
@itsmeshibintmz there is nothing that can be done from the workflow side to fix this issue. As you can see from the message returned by the workfow,the youtube feed API is giving 404.

[2022-05-05 16:09] gautamkrishnar commented on #137
Looks like it is fixed now. Might be just a youtube glitch.

[2022-05-17 08:51] PttCodingMan opened #140 "[Feature]: Can I set a tag, and let those blog posts don't show in the readme?"
As title.

Can I set a tag? For example LeetCode.
Let those blog posts don't show in the readme.

Many thanks.

[2022-05-17 20:00] gautamkrishnar commented on #140
Can you please elaborate more about what you are looking for. Can you please share a concrete example of it.

If you meant using custom tags, yes the workflow currenly supports it. See `custom_tags` in options section: https://github.com/gautamkrishnar/blog-post-workflow#options

[2022-05-18 03:37] PttCodingMan commented on #140
When I set "LeetCode" in custom_tags, my readme only shows the "LeetCode" post.
But I don't want to show the "LeetCode" posts on my readme.

What can I do?

Many thanks.

[2022-05-18 08:35] gautamkrishnar commented on #140
[code]

Sorry i still dont understand what exactly are you trying to acheive here. Please share the code examples if you used any.

[2022-05-18 08:39] gautamkrishnar commented on #140
from looking at your readme i guess you are trying to remove "LeetCode" string from the title.
<img width="652" alt="Screenshot 2022-05-18 at 2 06 20 PM" src="https://user-images.githubusercontent.com/8397274/168995829-18fd7726-0edb-4b52-8a60-1141a5e3db58.png">

You can do it using the following code:
[code]

[2022-05-18 08:49] PttCodingMan commented on #140
Sorry, English is not my native language. I can't express it well.
Let me explain it another way.

I don't want to see any posts has LeetCode tag on GitHub profile.

[2022-05-18 09:13] Bear1110 commented on #140
I think the goal is user want to ignore some of the "custom_tag". In order to  prevent posting "custom_tag" of posts  on the github readme profile.

For the usecase of PttCodingMan, because he does not want to show posts related about Leetcode on his profile.

[2022-05-18 09:37] gautamkrishnar commented on #140
@PttCodingMan its okay, tnanks for explaining. You can do it like this:
[code]

[2022-05-26 03:56] LukePrior commented on #29
It could be a good addition to allow emoji selection based on the post category.

[2022-05-26 08:41] gautamkrishnar commented on #29
@LukePrior for now i am not planning to inegrate that in the workflow. You can easily acheive that by using the following code:

[code]

[2022-05-27 12:02] LukePrior commented on #29
Hi, thanks for this code.

I am trying it out but I seem to be running into an issue.

My Action:

[code]

My feed:

https://lukeprior.github.io/blog/feed

My logs:

![image](https://user-images.githubusercontent.com/22492406/170695358-a5e447b7-2d68-4021-a8cf-c4ca8fdf938c.png)

Result:

![image](https://user-images.githubusercontent.com/22492406/170695398-940abacc-78e0-450f-9f6a-d9b0c0122a8e.png)

[2022-05-27 15:17] gautamkrishnar commented on #29
@LukePrior categories arreay is empty from your feed.
![Screenshot 2022-05-27 at 8 39 57 PM](https://user-images.githubusercontent.com/8397274/170727651-4c5ca461-9c6e-442e-90b6-de99421ed313.png)

Your feed should have `<category>SondeHub</category>` for this to work, see: https://github.com/gautamkrishnar/blog-post-workflow/issues/105#issue-1045286882. You currently have `<category term="SondeHub"

[2022-06-09 04:35] krossovochkin opened #142 "[Feature]: Do not fail if feed has items without title"
Hi

My feed is failing because it has item with empty title: https://github.com/krossovochkin/krossovochkin/actions/runs/2465879885

I don't want to display that item w/o title but it seem to fail parsing overall and workflow doesn't work.

As I have limited control on the feed and that item with no title is actually not a post, I'd like to ask you to support parsing of such items and filtering th

[2022-06-09 06:56] gautamkrishnar commented on #142
@krossovochkin this feature already exists, just use the following:
[code]

[2022-06-15 14:35] annegentle opened #144 "[Feature]:Use main instead of master branch"
**Is your feature request related to a problem? Please describe.**
Hi, I'm looking for ways to eliminate `master` from our org's scripts, and it would be great to be able to refer to a branch named `main` for this action.
**Describe the solution you'd like**
Provide a branch named `main` for this action.

**Describe alternatives you've considered**
I could point to one of the other named branches

[2022-06-15 15:32] gautamkrishnar commented on #144
@annegentle i am not planning to use main in the project for now. Feel free to use a published version instead of using master. Eg: for the latest version:

[code]

You can use any versions that is available in: https://github.com/gautamkrishnar/blog-post-workflow/releases

[2022-06-15 15:32] #144 closed

[2022-06-16 00:11] iamsarvagyaa opened #146 "[Bug]: Action failing & Blogs are not fetching"
**Blogs are not fetching**
Blog Posts not fetching from RSS. I am using two feeds and one of the feed, don't have pubDate.
So, I used `item_exec` but its keep failing. Please look at, below are references:

- Yaml file: https://github.com/iamsarvagyaa/treasury/blob/f2002c4f22efdbcf61c92a31be5e824289b3167c/.github/workflows/rssfeed.yml?plain=1#L18-L40
- Action url: https://github.com/iamsarvagyaa/t

[2022-06-16 11:39] iamsarvagyaa commented on #146
Go the way, don't need to use item_exec :-)

[2022-06-16 11:39] #146 closed

[2022-06-17 14:54] jmfayard opened #147 "Could you release major version(s) of your GitHub action?"
Bonjour! 🇫🇷

I contribute to [GitHub Actions Kotlin DSL](https://github.com/krzema12/github-actions-kotlin-dsl) which provides an alternative to write GitHub Actions not in YAML but in a type-safe programming language: Kotlin.

To this end we provide type-safe wrappers for currently [72 (and counting) wrapper actions](https://krzema12.github.io/github-actions-kotlin-dsl/supported-actions/). Those

[2022-06-17 20:06] gautamkrishnar commented on #147
@jmfayard Thanks for reaching out. Unfortunately, Having a seprate set of versioning is not possible for this project right now. I dont think that anyone is going to use this action on production servers so type safety is not at all a problem. All the best for your project.

[2022-06-17 20:10] jmfayard commented on #147
Hello, I'm not sure I understood your respond.
What I meant is that you currently have a release like `gautamkrishnar/blog-post-workflow@v1.7.0`
If you could create a release `v1` on GitHub,
then your users could use ``gautamkrishnar/blog-post-workflow@v1` in their workflow and get automatically the minor release without depending on `@master` which is not reliable.

[2022-06-17 20:32] gautamkrishnar commented on #147
@jmfayard for that to happen i need to follow the `v` prefixed release names right? Right now this project follows versioning with just numbers, not with a `v` prefix.

[2022-06-17 20:59] jmfayard commented on #147
@gautamkrishnar
I was not sure to be honest, but from what I understand from https://github.com/actions/toolkit/blob/main/docs/action-versioning.md#recommendations you do that simply by having a tag `v1`

[code]

[2022-06-17 21:52] gautamkrishnar commented on #147
@jmfayard thanks for explaining. I will give it a try.

[2022-06-17 22:14] gautamkrishnar commented on #147
@jmfayard v1 tag is currently available. Thanks for the suggestion.

[2022-06-17 22:14] #147 closed

[2022-06-18 07:47] jmfayard commented on #147
It worked, thanks :)

[2022-06-22 10:50] Qiamast commented on #29
i make this template :)
`template: "$newline - $randomEmoji(💯,🔥,💫,🚀,🌮)[$title]($url) $newline - $description $newline"`

[2022-06-22 20:11] Qiamast opened #148 "HTML tags are not rendered inside the $description [Bug]:"
**Describe the bug**
HTML tags are not rendered inside the $description

**Expected behavior**
I used your project to get a podcast feed and works for me so well but when I get the podcast feed $description I see an HTML tag in the description that is not rendered and shows plain text!
And this is not what I'm looking for

[my project repository](https://github.com/Qiamast/RadioGeek)

**Screenshot

[2022-06-22 20:50] gautamkrishnar commented on #148
@Qiamast this is not an issue related to this workflow. It is just because of GitHub readme rendering itself. Please report the issue to GitHub.

[2022-06-22 20:50] #148 closed

[2022-06-22 20:52] gautamkrishnar commented on #148
@Qiamast you can use `item_exec` to remove the `<p>` tags if you want.

[2022-06-23 04:33] Qiamast commented on #148
thank you :) I try this

[2022-06-23 05:24] Qiamast commented on #148
i use this code for ignore html tag in details but think not work :/
[code]

[2022-06-23 08:29] gautamkrishnar commented on #148
@Qiamast sorry i totally forgot that we have `disable_html_encoding` please use that option. Please use the following:
[code]
Its working:
![Screenshot 2022-06-23 at 1 59 05 PM](https://user-images.githubusercontent.com/8397274/175253733-39040bc7-cf89-4981-92bf-a2593ac86247.png)

[2022-06-23 09:43] Qiamast commented on #148
This is great, I appreciate you🔥✨
i use this regex for ignore HTML tag :)
[code]

[2022-06-23 10:06] Qiamast commented on #148
in your screenshot from detail view soo well, but in my pc, I little bad view, don't know way?????

![tprlQMClSYQ-00-26-24](https://user-images.githubusercontent.com/78082316/175274418-ddf38fb8-122c-4831-a7d1-ae29861d6188.png)

[2022-06-23 10:21] gautamkrishnar commented on #148
@Qiamast don't use `item_exec` just use the exact yaml i shared. It will work.

[code]

[2022-06-23 10:24] Qiamast commented on #148
appreciate you🔥✨

[2022-06-26 10:07] mdobydullah opened #150 "[New Source]: Shouts.dev"
Source Name: Shouts.dev
Source URL: https://shouts.dev
Comments: It's a growing dev platform created by me. I've already tested it out with the URL below on my README and it works perfectly!
Example: https://shouts.dev/feed/obydul

I would be very happy if you add this source.

Thank you so making such a great tool. Love it. :heartpulse:

[2022-06-26 10:28] #150 closed

[2022-06-27 05:42] eryajf opened #152 "[Feature]: Problems randomEmoji in Templates"
**Describe the bug**
When I used randomEmoji in multiple feed templates, they got the same results.

**Expected behavior**
I hope that different feeds will get different results.

**Screenshots**

<img width="757" alt="image" src="https://user-images.githubusercontent.com/33259379/175867714-41cec510-9655-4b98-8a13-af1503af9c8f.png">

**Workflow Yml Used**
[code]

[2022-06-27 06:35] #152 closed

[2022-06-27 06:41] gautamkrishnar commented on #152
@eryajf just released a new version with this feature, please use the following yaml code:

[code]

[2022-06-27 07:18] eryajf commented on #152
Thank you, this is possible. I would like to know what the current default value "username/repository" refers to and whether it is possible to change this default value to a timestamp, so that this parameter does not need to be configured by default.

[2022-06-27 07:24] gautamkrishnar commented on #152
@eryajf setting it as a timestamp value is a bad idea. It will update your repository every 5 minutes. That's why it is better to keep it as a static value. Using different static values gives different results. By default, if you don't give rand_seed argument, it will default to `username/repository` -> in your case `eryajf/eryajf`. This will make workflow generate unique random emojis for every

[2022-06-27 07:40] eryajf commented on #152
see: https://github.com/eryajf/read-list

In fact, I want to use this project to make a repository for reading lists, so at this time I need to set different values for different blogs, so at this time, if the default value is the timestamp of the project runtime, I don't have to care about this configuration item anymore. Similarly, even in personal warehouses, the use of timestamps is a matter o

[2022-06-27 07:41] eryajf commented on #152
Of course, what I write manually now can meet my needs. I just hope this place can be more elegant.

[2022-07-11 02:12] SingularisArt opened #155 "[Bug]: Error: Feed not recognized as RSS 1 or 2."
**Describe the bug**
For quite some time, when I run the workflow, it just immediately quits and gives me the error: `Error: Feed not recognized as RSS 1 or 2` and I don't know what to do.

**Expected behavior**
I expected the workflow to get all of my posts.

**Workflow Yml Used**
[code]

**Additional context**
My website was made in **Hugo**, a go framework.
Here's a snippet of my **README.md**

[2022-07-11 07:27] gautamkrishnar commented on #155
@SingularisArt you are not using proper RSS syntax for your feed. Please follow https://validator.w3.org/feed/docs/rss2.html#sampleFiles

Your feed dont have:
[code]

[2022-07-11 07:27] #155 closed

[2022-07-24 10:37] avipars opened #157 "[Feature]: Conditional statement for blogs / remove duplicates"
Occasionally, I guest post or re-share the article on two separate sources, is there a way to either have some conditional statement inside your action or a setting to ignore duplicate posts based on title?

[2022-07-24 11:33] gautamkrishnar commented on #157
@avipars just use it 2 times eg: https://www.youtube.com/watch?v=ECuqb5Tv9qI&t=272s

[2022-07-24 11:33] #157 closed

[2022-07-24 15:06] gautamkrishnar commented on #1
![Screenshot 2022-07-24 at 8 31 00 PM](https://user-images.githubusercontent.com/8397274/180653346-6dbbbe11-2d51-4f00-804d-d1a691dbb490.png)

[2022-07-24 15:18] gautamkrishnar commented on #1
![Screenshot 2022-07-24 at 8 48 06 PM](https://user-images.githubusercontent.com/8397274/180653916-a4121091-d903-4b6e-b258-a2dfc46ffd02.png)

[2022-07-26 04:53] ghorbani-mohammad opened #159 "[Bug]: style does not work on Youtube videos"
**Describe the bug**
Hi there, I want to remove borders from the videos item so I give the below attribute to td elements. But it seems that style attribute will be removed after running the action
[code]

**Expected behavior**
I don't want to see borders outside of videos.

**Screenshots**
I want to remove this borders.
![image](https://user-images.githubusercontent.com/12118217/180926043-fa8ee64

[2022-07-30 07:15] gautamkrishnar commented on #159
As you can see from the readme source code the workflow is doing its job just fine. The borders are not showing up on readme just because of the Github frontend CSS styling and truncating. Please reach out to GitHub support to know why it is not showing up. Providing info on that is beyond the scope of this project.

[code]

[2022-07-30 07:15] #159 closed

[2022-08-14 11:03] guangzhengli commented on #67
I used `uses: actions/checkout@v2`, but it still not work.

Finally, I found it needs to open workflows write permissions in `Setting -> Actions`

![sIkzuw](https://cdn.jsdelivr.net/gh/guangzhengli/PicURL@master/uPic/sIkzuw.png)

[2022-08-14 11:06] gautamkrishnar commented on #67
@guangzhengli it is working now https://github.com/guangzhengli/guangzhengli/runs/7825931241?check_suite_focus=true

[2022-08-24 12:06] YusufcanY opened #164 "[Feature]: Open Links in New Tab"
**Is your feature request related to a problem? Please describe.**
It's not releted to a problem.

**Describe the solution you'd like**
Just add a `target="_blank"` to `<a>` tag

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-08-24 14:08] gautamkrishnar commented on #164
@YusufcanY you can do that easily using the template option. Eg:
[code]

in readme:
[code]

[2022-08-24 14:08] #164 closed

[2022-09-12 16:28] PANDATD commented on #53
n/a

[2022-09-13 15:26] DHHZ19 opened #167 "When first time using github actions the you must allow permissions"
https://github.com/alshedivat/al-folio/discussions/653

[2022-09-14 15:38] #167 closed, assigned to nobody

[2022-09-16 13:59] antra0497 opened #170 "Failed to fetch medium posts!"
### Discussed in https://github.com/gautamkrishnar/blog-post-workflow/discussions/169

<div type='discussions-op-text'>

<sup>Originally posted by **antra0497** September 16, 2022</sup>
Hi,

I am trying to fetch my medium post using a cron job, but it is failing all the time, similar is the case with WordPress blog.
Wanted to see if there is a workaround for this or if anyone has successfully done

[2022-09-16 20:51] gautamkrishnar commented on #170
@antra0497 please use the correct feed url, it is `https://medium.com/@antratripathi_at/feed` not the one you provided.

[2022-09-16 20:51] #170 closed

[2022-09-30 19:55] Danie10 commented on #67
I had exactly the same issue here - think this permissions setting needs to be mentioned in readme.md. It may not be an issue for those who already had work flows, but for first time creators, this is going to trip them up.

[2022-09-30 22:54] gautamkrishnar commented on #67
@Danie10 I never personally received this issue in my account. As far as I know, this option is by default read and write, unless you manually changed it. Are you sure that you are able to reproduce this issue on all new accounts and repos?

[2022-10-11 09:09] Danie10 commented on #67
This is the first time I created an action, so no it was a default on my
account. I never even knew about it until today. But after I allowed the
permissions it now works fine.

On Sat, 01 Oct 2022, 00:54 Gautam krishna R, ***@***.***>
wrote:

[2022-10-12 11:35] BowenYoung opened #172 "[Bug]: Error: certificate has expired"
**Describe the bug**
Hello, I use hexo to generate my rss feed. And I've tried `atom` and `rss2`. But the actions failed for the same reason`Error: certificate has expired`.

**Expected behavior**
It succeeded before(about two months ago) with the same configuration. So I think it should still work.
![success](https://kjimg10.360buyimg.com/ott/jfs/t1/216011/1/22051/105860/6346a63dE11ca60c7/85e62a4

[2022-10-12 11:55] gautamkrishnar commented on #172
@BowenYoung you are using an invalid SSL certificate. this should be fixed on the server side. This is not a bug of this tool.

[2022-10-12 11:55] #172 closed

[2022-10-12 12:07] BowenYoung commented on #172
Yeeeeeeah! It works now! Thanks for help!🥳

[2022-10-16 13:34] 3293172751 opened #174 "[Bug]: error nsddd.top/rss.xml"
![SHDYK}@DDWK(P%DV 117U`T](https://user-images.githubusercontent.com/86140903/196038247-1e7d81dd-8317-4036-bd02-2bfda95f67e0.png)
Hello, I would like to ask why my subscription address is accessible, but it keeps getting errors
[https://nsddd.top/rss.xml](https://nsddd.top/rss.xml)
![image](https://user-images.githubusercontent.com/86140903/196038320-d38ea064-5b3e-4441-b0f2-c776e620a76e.png)

[2022-10-16 13:41] gautamkrishnar commented on #174
@3293172751 please fix the url. You are using http in your workflow instead of https

[2022-10-16 13:42] #174 closed

[2022-10-28 05:15] hacker-DOM opened #177 "[Feature]: Support for .adoc files"
It would be great if this tool works with non-md files, e.g. asciidoc. I guess the logic could only be modified slightly:

1. (optional) look for the precise tag (`BLOG-POST-LIST:START`) instead of including the comments
2. delete the whole line to catch comments in other languages (e.g. `// asciidoc`)

Cool tool!

[2022-10-28 10:23] gautamkrishnar commented on #177
Hi @FabianGosebrink since this is not a common use case, I am not planning to support this in the upstream repo. Feel free to fork the repo and make the changes to satisfy your use case with asciidoc. It's not a minor change since the asccidoctor does not use a syntax similar to the markdown.

[2022-10-28 10:23] #177 closed

[2022-10-30 05:23] arjun-ms opened #178 "[Bug]: Not fetching fancy font of medium blog title"
**Describe the bug**
From the below-attached screenshot, you can see that I have a blog named "Find Hackathons and Win Them 🏆" and it's written in a fancy font. But the title is not fetched in the RSS properly.

**Expected behavior**
The readme should show the fancy font as it is or convert it into a regular font and then show it.

**Screenshots**
![image](https://user-images.githubusercontent.com

[2022-10-30 10:41] gautamkrishnar commented on #178
@arjun-ms this is an issue with your RSS feed itself, there is nothing I can do to fix it. Please fix it in your website's source code.

It is not possible since the rss feed itself is returning value as:
[code]

[2022-10-30 10:41] #178 closed

[2022-10-30 14:05] soumendrak opened #179 "[Bug]: Unable to fetch RSS feed | Error with status code: 503"
**Describe the bug**
[code]
It was working perfectly till 25 September.

**Expected behavior**
There should not be any errors and blog posts should be updated.

**Screenshots**
![image](https://user-images.githubusercontent.com/10120538/198882885-be31205e-d525-4018-bfe3-ba23bb55d2dd.png)

**Workflow Yml Used**
[code]

**Additional context**
N/A

[2022-10-30 15:22] gautamkrishnar commented on #179
@soumendrak as the message says this is a problem with your website itself, it is returning 503. There is nothing i can do to fix this. Since you are using Hashnode, please report it to their support. If you are using Cloudflare you may need to whitelist the GitHub IPs. Explaining how to do it is beyond the scope of this repo.

[2022-10-30 15:22] #179 closed

[2022-10-30 16:26] soumendrak commented on #179
Thanks, @gautamkrishnar for the hint.
For future visitors, I temporarily resolved this issue by disabling "Bot Fight Mode" and then running the GitHub Action manually.
Path in Cloudflare:
`Security --> Bots --> Bot Fight Mode`

[2022-10-30 18:59] gautamkrishnar commented on #179
@soumendrak you can also whitelist the user agent `rss-parser` in Cloudflare and still keep the bot protection running. You can also add your own custom user agent via `user_agent` option of the workflow.

[2022-10-31 03:13] soumendrak commented on #179
Thanks, @gautamkrishnar , unable to whitelist User-Agent to bypass bot fight mode. Maybe in Paid versions, the options are there. Thank you.

[2022-10-31 08:08] gautamkrishnar commented on #179
@soumendrak it is possible, u can do it via a custom WAF rule:
![Screenshot 2022-10-31 at 1 37 08 PM](https://user-images.githubusercontent.com/8397274/198961100-56cfd6a9-b515-4995-a54e-f8e44d5ae59e.png)

![Screenshot 2022-10-31 at 1 38 05 PM](https://user-images.githubusercontent.com/8397274/198961148-74ecffca-44bc-4af0-9bba-d21a7800d2a9.png)

[2022-11-01 02:22] soumendrak commented on #179
@gautamkrishnar the last screenshot shows it does not prevent "Bot Fight Mode" (on your screenshot above too).
![image](https://user-images.githubusercontent.com/10120538/199144678-66cf8f01-8fb6-4e09-b5bc-4b172650aba4.png)

I wonder how is it working for you. 🤔

[2022-11-01 07:20] gautamkrishnar commented on #179
@soumendrak lol sorry my bad. I have the bot protection turned off. Then ya, turning it off is the only option.

[2022-11-19 14:15] muhammedsaidkaya opened #181 "[Bug]: Post Count is not Correct - Medium"
**Describe the bug**
The problem is post count is not correct when I dispatch the workflow.

**Expected behavior**
Post count must be 3.

**Screenshots**
![image](https://user-images.githubusercontent.com/32541088/202854930-a8f8afd6-3a8f-453e-8195-77266dd8d650.png)
![image](https://user-images.githubusercontent.com/32541088/202854942-d7caf404-dceb-4955-9af7-518f065e6004.png)
![image](https://user-

[2022-11-19 14:48] muhammedsaidkaya commented on #181
[Update]: After 30 minutes, the workflow run correctly. README was updated with the newest Post.

[2022-11-19 15:32] gautamkrishnar commented on #181
It is just your backend issue. not the workflow's issue.

[2022-11-19 15:32] #181 closed

[2022-11-19 15:36] gautamkrishnar commented on #181
@muhammedsaidkaya since you are using medium it might be medium's backned load balancer taking its time to update the cache for multiple geo locations.

[2022-11-19 15:45] muhammedsaidkaya commented on #181
Thanks for the information